/* ----------------------------------------------------------------
 *  TABLE OF CONTENT
 * ----------------------------------------------------------------
 *  + Body:							body
 *  + Header:						#header
 *  + Main container:				#main_container
 *  + Sidebar:						#left_container
 *  + Footer:						#footer
 *  + Login Footer:					#login_footer
 *  + Special:
 *     - Host / Service preview:	#host_preview, #service_preview
 *     - Host header				#host_header
 *     - Host more					#host_more
 *  + Elements:
 *     - Headlines
 *     -
 *     - Tables
 *  + Classes
 *     - General				 	-> http://css3please.com/
 *     - Images
 *
 *  * Todo: change #left_container-> #sidebar
 *          change .host_img_80 -> .img_host_80
  ----------------------------------------------------------------*/

/* ----------------------------------------------------------------
 *  Body
 * ----------------------------------------------------------------*/

body {
	background: #000;
	color: #333;
	font-size: 11px;
	padding: 0 0 40px;
}

/* ----------------------------------------------------------------
 *  Header
 * ----------------------------------------------------------------*/

#header h1 {
	font-weight:normal;
	text-align:left;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2F5F8F), to(#005086));
	background: -moz-linear-gradient(top, #2F5F8F, #005086);
	padding:.3em 1em;
	margin-bottom:0;
	color: #FFFFFF;
}

/* ----------------------------------------------------------------
 *  Main container
 * ----------------------------------------------------------------*/

#main_container{
	background: #FFFFFF;
	min-height: 650px;
}

/* ----------------------------------------------------------------
 *  Sidebar
 * ----------------------------------------------------------------*/

#left_container{
	min-height: 650px;
	margin-left: 0;
	border-right: 1px solid #E3E3E5;
}

/* ----------------------------------------------------------------
 *  Footer
 * ----------------------------------------------------------------*/

#footer {
	background: #787878;
	height: 20px;
}

/* ----------------------------------------------------------------
 *  Footer
 * ----------------------------------------------------------------*/

#login_footer {
	background: #787878;
	height: 100%;
}

#login_footer h3 {
	font-size: 16px;
	margin-bottom: 5px;
	color: #FFFFFF;
}

#login_footer dl {
	color: #BCBCBC;
}

#login_footer a {
	color: #BCBCBC;
	text-decoration: none;
}

/* ----------------------------------------------------------------
 *  Special: Host / Service preview
 * ----------------------------------------------------------------*/

#host_preview, #service_preview {
	min-height: 110px;
	padding-top: 10px;
}

/* ----------------------------------------------------------------
 *  Special: Host header
 * ----------------------------------------------------------------*/

#host_header {
	margin-top: 20px;
}

#host_header h2 {
	margin-bottom: 5px;
}

/* ----------------------------------------------------------------
 *  Special: Host more
 * ----------------------------------------------------------------*/

#host_more h3, #host_more table {
	margin-left: 10px;
}

/* ----------------------------------------------------------------
 *  Special: Business impact preview
 * ----------------------------------------------------------------*/

#bi_preview {
	min-height: 70px;
	padding-top: 10px;
}

/* ----------------------------------------------------------------
 *  Elements
 * ----------------------------------------------------------------*/

/* Headlines */

h1, h2, h3, h4 {
 	color: #787878;
}

dl {
	line-height: 2em;
	margin: 0em 0em;
	color: #787878;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Tables */

table {
	background-color: #fff;
	border-top: 1px solid #E3E3E5;
	border-left: 1px solid #E3E3E5;
	border-bottom: 1px solid #E3E3E5;
	clear: both;
	color: #787878;
	margin-bottom: 10px;
	width: 80%;
}

tbody {
	border-top: 3px solid #E3E3E5;
}

th {
	background-color: #FFFFFF;
	border-top: 1px solid #E3E3E5;
	border-left: 1px solid #E3E3E5;
	border-right: 1px solid #E3E3E5;
	border-bottom: 1px solid #E3E3E5;
	text-align: left;
	padding-left: 5px;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}

table tr td {
	background: #fff;
	border-right: 1px solid #E3E3E5;
	padding: 4px;
	text-align: left;
	vertical-align: top;
    border-bottom: 1px solid #E3E3E5;
}

table tr.altrow td {
	background: #f4f4f4;
}

td.actions {
	text-align: center;
	white-space: nowrap;
}

td.actions a {
	display: inline;
	margin: 0px 3px;
}

/* ----------------------------------------------------------------
 *  Classes
 * ----------------------------------------------------------------*/

/* ----------------------------------------------------------------
 *  Classes: General
 * ----------------------------------------------------------------*/

.box_gradient_vertical {
	background-color: #DDE1EC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE1EC), to(#FFFFFF)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #DDE1EC, #FFFFFF); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #DDE1EC, #FFFFFF); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #DDE1EC, #FFFFFF); /* IE10 */
	background-image:      -o-linear-gradient(top, #DDE1EC, #FFFFFF); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #DDE1EC, #FFFFFF);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE1EC', EndColorStr='#FFFFFF'); /* IE6â��IE9 */
}

.box_gradient_horizontal {
	background-color: #DDE1EC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE1EC), to(#FFFFFF)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, #DDE1EC, #FFFFFF); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(left, #DDE1EC, #FFFFFF); /* FF3.6 */
	background-image:     -ms-linear-gradient(left, #DDE1EC, #FFFFFF); /* IE10 */
	background-image:      -o-linear-gradient(left, #DDE1EC, #FFFFFF); /* Opera 11.10+ */
	background-image:         linear-gradient(left, #DDE1EC, #FFFFFF);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE1EC', EndColorStr='#FFFFFF'); /* IE6â��IE9 */
}

.box_textshadow {
     text-shadow: 1px 1px 3px #E3E3E5; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

.box_shadow {
    -moz-box-shadow: 0px 0px 4px #E3E3E5; /* FF3.5+ */
  	-webkit-box-shadow: 0px 0px 4px #E3E3E5; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 4px #E3E3E5; /* Opera 10.5, IE9, Chrome 10+ */
}

.box_round {
  -moz-border-radius: 12px; /* FF1-3.6 */
  -webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_right {
	border-right: 1px solid #E3E3E5;
}

.prefix_custom_1 {
	margin-left: 38.5%;
}
/* ----------------------------------------------------------------
 *  Classes: Images
 * ----------------------------------------------------------------*/

.host_img_80 {
	height: 80px;
	width: 80px;
	float: right;
}

.img_stars {
	height: 11px;
	margin-top: 2px;
	margin-right: 4px;
}

.img_stars_bi {
	height: 13px;
	margin-top: 2px;
	margin-right: 4px;
}

.img_stars_header {
	height: 16px;
	margin-top: 2px;
	margin-left: 25px;
	margin-right: 4px;
}

.icon_warning {
	background: url("../img/icons/warning.png") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_tick {
	background: url("../img/icons/tick.png") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_cross {
	background: url("../img/icons/cross.png") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_ok {
	background: url("../img/icons/state_ok.png") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_unreachable {
	background: url("../img/icons/state_unreachable.png") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_ack {
	background: url("../img/icons/ack.gif") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.icon_ack {
	background: url("../img/icons/link_processes.gif") no-repeat scroll transparent;
	background-position: 4px;
    padding-left: 24px;
}

.state_ok {
	color: green;
	font-weight: bold;
}

.state_critical {
	color: red;
	font-weight: bold;
}

/*
 * Dummy elements
 *
 */

#dummy_box {
	height: 100px;
}

#login {
	/*height: 500px;*/
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0px 0px -250px;
	background-color: #ffffff;
	/*border: 1px solid #000000;*/
}
#login h1 {
	margin-left: 70px;
}
#login p {
	color: #787878;
	font-size: 13px;
	font-weight: bold;
}

.form button {
	float:right;
    border: 1px solid #CACACA;
    border-radius: 2px 2px 2px 2px;
    color: #3C3C3D;
    cursor: pointer;
    display: inline-block;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    line-height: 1.11;
    outline: medium none;
    overflow: visible;
    padding: 5px;
    margin-right: 25px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}

.bi_box {
	font-size: 13px;
	border: solid 1px #E3E3E5;
	height: 30px;
	margin-bottom: 10px;
}

.pull_5 {
	margin-left: 5px;
}

.bi_box li {
	display: inline;
}
