define scheduler{
       scheduler_name	scheduler-All-UT8-Version-1~%§!µ¤
       address	localhost
       port	7768
       spare	0
       realm	All
       }

#define scheduler{
#       scheduler_name	scheduler-All-2
#       address	localhost
#       port	7774
#       spare	1
#       realm	All
#       }

#define scheduler{
#       scheduler_name     scheduler-All-3
#       address  localhost
#       port     7775
#       spare    1
#       realm    All
#       }


#define scheduler{
#       name	scheduler-Europe
#       address	localhost
#       port	7775
#       spare	0
#       realm Europe
#       }

#define scheduler{
#       name	scheduler-Europe-2
#       address	localhost
#       port	7776
#       spare	0
#       realm Europe
#       }


#define scheduler{
#       name	scheduler-slave
#       address	localhost
#       port	9999
#       spare	1
#       }


define reactionner{
       reactionner_name	reactionner-All-1
       address	localhost
       port	7769
       spare	0
       realm 	All
       manage_sub_realms 0	;optionnal : 1
       min_workers	 1	;optionnal : 1
       max_workers	 15	;optionnal : 30
       }

#define reactionner{
#       name	reactionner-All-2
#       address	localhost
#       port	7778
#       spare	1
#       realm 	All
#       manage_sub_realms 0
#       }

#define reactionner{
#       name	reactionner-Europe-1
#       address	localhost
#       port	7779
#       spare	0
#       realm 	Europe
#       }

#define reactionner{
#       name	reactionner-Europe-2
#       address	localhost
#       port	7780
#       spare	0
#       realm 	Europe
#       }

define poller{
       poller_name     poller-All
       address  localhost
       port     7771
       realm	All
       manage_sub_realms 0	;optionnal : 0
       min_workers	 4	;optionnal : 1
       max_workers	 4	;optionnal : 30
       processes_by_worker	256	   ;optionnal : 256
}

#define poller{
#       poller_name     poller-All-2
#       address  localhost
#       port     7781
#       realm	All
#       manage_sub_realms 0	;optionnal : 0
#       min_workers	 16	;optionnal : 1
#       max_workers	 16	;optionnal : 30
#}

#define poller{
#       poller_name     poller-All-3
#       address  localhost
#       port     7782
#       realm	All
#       manage_sub_realms 0	;optionnal : 0
#       min_workers	 16	;optionnal : 1
#       max_workers	 16	;optionnal : 30
#}

#define poller{
#       name     poller-Europe
#       address  localhost
#       port     7777
#       realm	Europe
#}


define broker{
       broker_name	broker-All
       address	localhost
       port	7772
       spare	0
       realm 	All
       manage_sub_realms 1
       plugins		 Service-Perfdata,ToMerlindb_Mysql, ToNdodb_Oracle, ToNdodb_Mysql
       }

#Now the plugins for broker
define plugin{
       plugin_name	ToNdodb_Mysql
       plugin_type	ndodb_mysql
       database		ndo
       user		root
       password		root
       host		localhost
       character_set	utf8     ;optionnal, UTF8 is the default
}       


define plugin{
       plugin_name	ToNdodb_Oracle
       plugin_type	ndodb_oracle
       database		XE
       user		system
       password		password          ;Yes I know I have to change my default password...
#       host		localhost 
       oracle_home      /usr/lib/oracle/xe/app/oracle/product/10.2.0/server     ;optional
}       


define plugin{
       plugin_name      ToMerlindb_Mysql
       plugin_type      merlindb_mysql
       database         merlin
       user             root
       password         root
       host		localhost
       character_set    utf8     ;optionnal, UTF8 is the default
}

define plugin{
       plugin_name      Service-Perfdata
       plugin_type      service_perfdata
       path		/home/nap/shinken/src/var/service-perfdata
}

define plugin{
       plugin_name      Service-Perfdata-leretourdelavengeance
       plugin_type      service_perfdata
       path		/home/nap/shinken/src/var/service-perfdata-leretourdelavengeance
}

define realm{
       realm_name  All
       ;       realm_members	Europe
       default		1
}


#define realm{
#       realm_name	Europe
#}
