.icon-setting { 
  background-image: url("/static/img/icons/icon-settings.png"); 
  background-position: center; 
  height: 25px; 
  width: 30px; 
} 

.icon-impact { 
  background-image: url("/static/img/icons/icon-impact.png"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 20px auto;
  height: 25px; 
  width: 30px; 
}

.icon-itproblem { 
  background-image: url("/static/img/icons/icon-it.png"); 
  background-position: center; 
  background-repeat: no-repeat;
    background-size: 20px auto;
  height: 25px; 
  width: 30px;

}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: transparent url(/static/img/icons/pointer.gif) bottom center no-repeat !important;
  padding: 11px 15px;
}

.nav-icon {
  padding-top: 4px;
  color: #FFFFFF !important; 
  font-size: 18px;
}

.brand {
  text-shadow: 1px 1px 3px #E3E3E5; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

.nav-controll .navbar-text > span > a {
    color: #FFFFFF;
    border-bottom: thin dotted;
}

.nav-controll > .nav > li > a { 
  padding-top: 6px; 
  padding-bottom: 4px;
  padding-right: 0px;
}

.nav-controll .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
}

.pagination.center, .pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }

.navbar-search .search-query {
    border-radius: 5px 5px 5px 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 29px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAACXBIWXMAAAsTAAALEwEAmpwYAAADG2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BUNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMWgx9DJcMqhgeM0oxRjPMYnzIZMjUwXWLWYG5kvstiwzKPlZk1m/UqmxPbJnYV9pkcAhydnKyczVzMXG3c3NwTeaR4lvIa8x7iC+Z7xl8tICSwWtBN8JFQo7Ci8GGRdFFe0a1iceKc4lslUiSFJY9KVUjrSj+RmSMbKicod1a+R8FHkVfxgtIU5SgVJZXXqlvVGtX9NGQ13mru05qonapjrSuk+0rviP58gxrDKCNLY0nj3yb3TA+brTDvt6iwTLTysbawUbUVsWOx+2r/3OG24wWnY857Xba6rndb6b7UY5HnQq8F3gt9Fvsu81vlvz5ga+DeoGPB50NuhT4L+xLBFCkYpRRtHOMWGxWXF9+SMDtxc9LZ5OepTGly6TYZUZlVWbOy9+Tcy2PKVy/wKSwuml18uORtmUS5S0Vh5byqs9V/a/Xq4usnNRxr/N1s0JLeOq/teodgp3dXe/fhXoY++/66Cfsm/p/sOKV16onpvDOCZ86a9WiO1tySefsWcC0MW7R48celDssmLH+40nhV6+qba3XXNa2/udFgU8fmB1uttk3d/mGn765Vezj2pu87fkD9YOeh10f8jm4+Ln6i9uST095ntpyTPd9+4dOluMunrlpcW3ZD9Gbrra930u/evO/z4MAj08ernyo+m/lC8GXXa+Y3dW9/vi/98OlTwed3X/O+vfuR//PD7+I/3/5V/f8PAC4MHYugPAkxAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGmSURBVHjaRJC/TxNhAIaf63eltLG9YsOpIWoaAdEmphDEhEFDYlAWEic1MXGhxsGFERIMZTAy+h/o4MDAgAY0GFNdHExUOGMt6iUqlV/SVu44e4a7+xxEfd7xeadHecEGsywPLgyup7VK23zb1Fm7l1/s8or7zQfnkEghkcjE0vhJk0UMDAyU2cjII6PvQKH7dt3UUgtDZk77fqen5fMOACJ65fFw1/y1AfnRqe3/1vkwJYyBjWT7TBULi1DhosLpsYTXSECMZnpvJVbfXFjWHGxs1JVsxHaL7xBEKFNGuLHSWt+UHt0KAFVb3TwRTenbNRxaOAQ81cPuKXsPARDKzvnqei5NFQWHVmL9leOpD0fWdHR0xKj57Orr/nItaex4jRTP37vrxn/u3VK05z+woMTkubCNjH/VnzS9RSIViUR2529wHZFDM50HbrKWsTJePFmq7wMFWDnjq4cLyiJlZvCpJopN6W298nKiNAYKEshOhgB8PMJWw5eGSkDm5tH8n9zC63iv/m0vd+dzbJxgKS+8y5d6pv/p/zef9gmfzk9d03V+DwDspKvKdZIrpwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 10px 4px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
    background-position: 11px 7px;
}