.icon-logout { 
  background-image: url("/static/img/icons/icon-logout.png"); 
  background-position: center; 
  height: 25px; 
  width: 30px; 
} 

.icon-setting { 
  background-image: url("/static/img/icons/icon-settings.png"); 
  background-position: center; 
  height: 25px; 
  width: 30px; 
} 

.icon-impact { 
  background-image: url("/static/img/icons/icon-impact.png"); 
  background-position: center; 
  height: 25px; 
  width: 30px; 
}

.icon-itproblem { 
  background-image: url("/static/img/icons/icon-it.png"); 
  background-position: center; 
  height: 25px; 
  width: 30px; 
}


/*.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .navbar-text {
    color: #FFFFFF;
}*/

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: transparent url(/static/img/icons/pointer.gif) bottom center no-repeat !important;
/*  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;*/
}


.brand {
     text-shadow: 1px 1px 3px #E3E3E5; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

.nav-controll .navbar-text > span > a {
    color: #FFFFFF;
    border-bottom: thin dotted;
}

.nav-controll > .nav > li > a { 
  padding-top: 6px; 
  padding-bottom: 4px;
  padding-right: 0px;
}

.nav-controll .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  /*background-color: #FFFFFF;*/
}


/*
.navbar-inner {
  background-color: #2F5F8F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2F5F8F), to(#005086));
  background-image: -webkit-linear-gradient(top, #2F5F8F, #005086);
  background-image:    -moz-linear-gradient(top, #2F5F8F, #005086);
  background-image:     -ms-linear-gradient(top, #2F5F8F, #005086);
  background-image:      -o-linear-gradient(top, #2F5F8F, #005086);
  background-image:         linear-gradient(top, #2F5F8F, #005086);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2F5F8F', EndColorStr='#005086');
}
*/


.pagination.center, .pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }


/* Typeachead is by default at 4px radius. 14 looks better.*/
/*.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}*/