.ui-icon{
	background-image: url("../../images/icons-18-white.png");
}
#userFooter{
	float : right;
	margin-right:30px;
	position:relative;
}
#userFooter .username{
	margin-right: 40px;
	margin-top: 7px;
	float: left;
}
h1 img{
	float:left;
	margin-right:10px;
}
.wall_element{
	float:left;
	border: 1px solid #000000;
	float: left;
	margin: 10px;
	text-align: center;
	width: 105px;
	height:130px;
	display:block;
	color:#fff!important;
	padding:5px;
	word-wrap: break-word;
}
