/* @group Reset */

*
{
	margin: 0;
	padding: 0;
	
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
}

/* @end */

/* @group Allgemeine Dedinitionen */

body
{
	margin: 20px auto;
	padding: 20px;
	
	width: 250px;
	border: 1px solid #509bba;
}

h1 
{
	margin-bottom: 15px;
	
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
	
	color: #509bba;
}

/* @end */

/* @group Accordion */

dl.accordion
{
	width: 250px;
	
	border-left: 1px solid #e6e2af;
	border-right: 1px solid #e6e2af;
	border-bottom: 1px solid #e6e2af;
}

/* @group Ebene 1 */

dl.accordion dt
{
	position: relative;
	height: 20px;
	padding: 5px 0 2px 25px;
	
	font-weight: bold;
	
	color: white;
	background: #00506c url(icon_accordion_closed.png) no-repeat;
	
	cursor: pointer;
	border-top: 1px solid #e6e2af;
}

* html dl.accordion dt
{
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='icon_accordion_closed.png', sizingMethod='crop');
	background-image: none;
}

dl.accordion dt.open
{
	background-image: url(icon_accordion_open.png);
}

* html dl.accordion dt.open
{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='icon_accordion_open.png', sizingMethod='crop');
	background-image: none;
}

dl.accordion dd
{
	position: relative;
	overflow: hidden;
	background: #efecca;
}

/* @group Inhalt */

dl.accordion dd.sub_accordion
{
	
}

dl.accordion dd.accordion_content
{
	padding: 0 10px 0 25px;
}

dl.accordion dd.accordion_content p
{
	padding: 5px 0 7px 0;
}

/* @end */

/* @end */

/* @group Ebene 2 */

dl.accordion dd dl dt
{
	padding-left: 45px;
	background-color: #217492;
	background-position: 20px 0;
}

dl.accordion dd dl dd.accordion_content
{
	padding-left: 45px;
}

/* @end */

/* @group Ebene 3 */

dl.accordion dd dl dd dl dt
{
	padding-left: 65px;
	background-color: #509bba;
	background-position: 40px 0;
}

dl.accordion dd dl dd dl dd.accordion_content
{
	padding-left: 65px;
}

/* @end */

/* @group Ebene 4 */

dl.accordion dd dl dd dl dd dl dt
{
	padding-left: 85px;
	background-color: #7bc3e4;
	background-position: 60px 0;
}

dl.accordion dd dl dd dl dd dl dd.accordion_content
{
	padding-left: 85px;
}

/* @end */

/* @end */