# some packages need to be kept as specific version for

# actually don't link with "normal" one as pip otherwise report conflicting package versions.
# -r ./requirements.txt

# for pylint to succeed with Python2.6 , we actually need all these specific versions:
pylint==1.3.1
astroid==1.2.1
six==1.4.0

# endfor pytlint

