<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="pythonlauncher" value="C:\Python27\python.exe"/>

    <add key="Broker_parameters" value="-c @@INSTALLDIR@@\etc\brokerd-windows.ini"/>
    <add key="Broker_service" value="@@INSTALLDIR@@\bin\shinken-broker.py"/>
    <add key="Broker_SrvOutput" value="true"/>
    <add key="Broker_SrvOutputfolder" value="@@INSTALLDIR@@\svclogs"/>

    <add key="verboselevel" value="Error"/>
    <add key="Shinken_Broker" value="logconfig\shinken-brokerlogconf.xml"/>

  </appSettings>
</configuration>
