<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="pythonlauncher" value="C:\Python27\python.exe"/>

    <add key="Receiver_parameters" value="-c @@INSTALLDIR@@\etc\receiverd-windows.ini"/>
    <add key="Receiver_service" value="@@INSTALLDIR@@\bin\shinken-receiver.py"/>
    <add key="Receiver_SrvOutput" value="true"/>
    <add key="Receiver_SrvOutputfolder" value="@@INSTALLDIR@@\svclogs"/>

    <add key="verboselevel" value="Error"/>
    <add key="Shinken_Receiver" value="logconfig\shinken-receiverlogconf.xml"/>

  </appSettings>
</configuration>