		<div class="boxhead">
			Distributed setup
		</div>
		<div class="boxcontent">
			<ul>
				<li>{% if page == "arbiters" %}  {% endif%}<a {% if page == "arbiters" %} class="linkred" {% endif%} href="/arbiters">Arbiters</a></li>
				<li>{% if page == "realms" %}  {% endif%}<a {% if page == "realms" %} class="linkred" {% endif%} href="/realms">Realms</a></li>
				<li>{% if page == "schedulers" %}  {% endif%}<a {% if page == "schedulers" %} class="linkred" {% endif%} href="/schedulers">Schedulers</a></li>
				<li>{% if page == "pollers" %}  {% endif%}<a {% if page == "pollers" %} class="linkred" {% endif%} href="/pollers">Pollers</a></li>
				<li>{% if page == "reactionners" %}  {% endif%}<a {% if page == "reactionners" %} class="linkred" {% endif%} href="/reactionners">Reactionners</a></li>
				<li>{% if page == "brokers" %}  {% endif%}<a {% if page == "brokers" %} class="linkred" {% endif%} href="/brokers">Brokers</a></li>
				<li>{% if page == "module" %}  {% endif%}<a {% if page == "module" %} class="linkred" {% endif%} href="/modules">Modules</a></li>
			</ul>
		</div>