<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/css/skonf/reset.css" />
	<link rel="stylesheet" href="/static/css/skonf/text.css" />
	<link rel="stylesheet" href="/static/css/skonf/960.css" />
	<link rel="stylesheet" href="/static/css/skonf/skonf.css" />
</head>
<body>
	<div class="container_16">
		<div class="grid_16">{% include "common/logo.html" %}</div>
		<div class="clear"></div>
		<div class="grid_16">{% include "common/top_nav.html" %}</div>
		<div class="clear"></div>
		<div class="grid_3">{% include "common/left_nav.html" %}{% include "common/search.html" %}</div>
		<div class="grid_5">{% include "common/list.html" %}{% include doc %}</div>
		<div class="grid_8">{% include form %}</div>
		<div class="clear"></div>
		<div class="grid_16">{% include "common/page_footer.html" %}</div>
		<div class="clear"></div>
	</div>
</body>
</html>