# Command sample to monitor IBM DS SAN storage.

define command {
       command_name     check_IBM_DS_health
       command_line	$PLUGINSDIR$/check_IBM_DS_health.sh -a $_HOSTCTRL1$ -b $_HOSTCTRL2$
}

define command {
       command_name     check_IBM_DS_performance
       command_line	$PLUGINSDIR$/check_IBM_DS_performance.pl -i $_HOSTCTRL1$ -j $_HOSTCTRL2$
}

# Runner command
define command {
       command_name      IBM_SAN_discovery
       command_line      $PLUGINSDIR$/SAN_discover_runner.py -t $SMTARGET$ $ARG1$ -v ibm_ds -n
}
