language: python

# We need docker for our scripts that test various installations
services:
  - docker

# Allow cache of downloads
cache: pip

python:
  - "2.6"
  - "2.7"
  
# command to install dependencies
# some are only used for travis/coveralls so we are installing them here only
#install:
#  - ./test/setup_test.sh
# command to run tests


env:
  # Python:
  - TEST_SUITE=PYTHON
  # Then installations on various distro
  - TEST_SUITE=CENTOS
  - TEST_SUITE=DEBIAN
  - TEST_SUITE=FEDORA
  - TEST_SUITE=OTHER
  - TEST_SUITE=UBUNTU
  - TEST_SUITE=CODE

script:
  - cd test
  - chmod a+x *sh *py
  - ./test_suite.sh

# specific call to launch coverage data into coveralls.io
#after_success:
#  coveralls
