language: python
python:
  - "2.6"
  - "2.7"
  
# command to install dependencies
# some are only used for travis/coveralls so we are installing them here only
install:
  - ./test/setup_test.sh
# command to run tests
# notice: the nose-cov is used because it is compatible with --processes, but produce a .coverage by process
# so we must combine them in the end
script:
  - cd test
#  - nosetests -xv --process-restartworker --processes=1 --process-timeout=999999999  --with-cov --cov=shinken
#  - coverage combine
#  - cd .. && pep8 --max-line-length=100 --ignore=E303,E302,E301,E241 --exclude='*.pyc' shinken/*
# specific call to launch coverage data into coveralls.io
#after_success:
#  coveralls

after_script:
   - cd ..
   - ./test/uninstall_shinken.sh develop virtualenv
   - bash -x ./test/test_all_setup.sh
