language: python
python:
  - "2.7"
# command to install dependencies
install:
  - "pip install -r shinken/dependencies"
  - "./bin/preparedev"
# command to run tests
script: ./test/test.sh

notifications:
  email: false

  irc: 
    channels:
      - "chat.freenode.net#shinken"
    on_success: always
    on_failure: always
