recursive-include shinken *.*
recursive-include shinken/webui *.*
recursive-include etc *.cfg *.ini *.pem
recursive-include windows .bat .reg
recursive-include bin *.* *-* shinken
recursive-include libexec *.*
recursive-include modules *.*
include test *.py *.txt
recursive-include doc *.html *.png *.txt *.css *.jpg *.xml *.tpl *.gif *.js
global-exclude .git *.pyc *.pyo
global-exclude .debug .pid .exe *~
include var/void_for_git
include MANIFEST.in FROM_NAGIOS_TO_SHINKEN Changelog
include COPYING THANKS README README.rst
exclude doc/dvi doc/html/ etc.orig/ etc/bench/ test/my/
