
.object_host {
    display : inline;
    padding: 7px;
    border : 2px;
}



.object_host .host_name {
    width: 120px;
    background: white;
}

.object_host .display_name {
    width: 120px;
    background: white;
}

.object_host .address {
    width: 120px;
    background: white;
}

.object_host .realm {
    width: 120px;
    background: white;
}

.object_host .poller_tag {
    width: 120px;
    background: white;
}

.object_host .use {
    width: 500px;
    background: white;
}


