
.discovered_host {
    padding: 7px;
    border : 2px;
}


.form_button_image {
    width : 48px;
    height : 48px;
}


.ajax-loading {
    padding: 20px 0;
    background: url(/static/images/spinner.gif) no-repeat center;
    width : 20px;
}


.push-result{
}