# Sample correlation rule
define host{
        use                             generic-host
        host_name                       ERP
#        check_command                   bp_rule!srv-mysql,Mysql-connection&srv-webserver, Https & srv-webserver, HttpsCertificate
	
        # VERY huge business impact for this item!
	business_impact			5
	check_interval			1
}



