# This is a sample host for a Microsoft IIS server
define host{
        use                     iis,windows,generic-host
        host_name               srv-iis
	address			srv-iis.mydomain.com

	# The Windows check will need a valid login on this host. you can configure the crendential used
	# in the file etc/resource.cfg

	# Look in etc/packs/microsoft/iis/templates.cfg for all available 
	# macros

        }
