# This is a sample host for a Microsoft Mailbox exchange server
define host{
        use                     exchange-mb,windows,generic-host
        host_name               srv-exchange-mb
	address			srv-exchange-mb.mydomain.com

	# The Exchange check will need a valid login on this host. you can configure the crendential used
	# in the file etc/resource.cfg

	# Look in etc/packs/microsoft/excgange/exchange-mb/templates.cfg for all available 
	# macros

        }
