define host{
        use                     linux,generic-host
        host_name               srv-newyork
        address                 srv-newyork.mymonitoringbox.com
	
	# New York coordonates, from http://www.thegpscoordinates.com/new-york/new-york-city/
	_LAT			40.71448
	_LONG			-74.00598
        }
