# This is a sample host for a standard linux host
define host{
        use                     linux,generic-host
        host_name               srv-linux
	address			srv-linux.mydomain.com

	# The Linux check will need a valid snmp community. You can configure it 
	# in the file etc/resources.cfg

	# If you need specific credentials for this host, uncomment it
	#_SNMPCOMMUNITY	       linux-community


	# Look in etc/packs/os/linux/templates.cfg for all available 
	# macros

        }
