# This is a sample host for a Microsoft domain controler
define host{
        use                     dc,windows,generic-host
        host_name               srv-microsoft-dc
	address			srv-microsoft-dc.mydomain.com

	# The DC check will need a valid login on this host. you can configure the crendential used
	# in the file etc/resource.cfg

	# Look in etc/packs/microsoft/dc/templates.cfg for all available 
	# macros

        }
