# This is a sample host for a mysql server running under linux.
define host{
        use                     mysql,linux,generic-host
        host_name               srv-mysql
	address			srv-mysql.mydomain.com

	# Uncomment the below macros if the mysql credentials are
	# not the global ones (in etc/resource.cfg)

	#_MYSQLUSER             myuser
	#_MYSQLPASSWORD         mypassword

	# Look in etc/packs/databases/mysql/templates.cfg for all available 
	# macros

        }
