# This is a sample host for a Microsoft CAS exchange server
define host{
        use                     exchange-cas,windows,generic-host
        host_name               srv-exchange-cas
	address			srv-exchange-cas.mydomain.com

	# The Exchange check will need a valid login on this host. you can configure the crendential used
	# in the file etc/resource.cfg

	# Look in etc/packs/microsoft/excgange/exchange-cas/templates.cfg for all available 
	# macros

        }
