# This is a sample host for a VmWare VM host.
define host{
        use                     vmware-vm,generic-host
        host_name               srv-vmware-vm
	address			srv-vmware-vm.mydomain.com

	# The VM check will need good credentials in read to your vSphere server.
	# Look at the file /etc/packs/virtualization/vmware/macros.cfg for 
	# setting the server address and the credentials

	# Look in etc/packs/virtualization/vmware/vm/templates for all available 
	# macros for vm hosts

        }
