# This is a sample host for a Microsoft UM exchange server
define host{
        use                     exchange-um,windows,generic-host
        host_name               srv-exchange-um
	address			srv-exchange-um.mydomain.com

	# The Exchange check will need a valid login on this host. you can configure the crendential used
	# in the file etc/resource.cfg

	# Look in etc/packs/microsoft/excgange/exchange-um/templates.cfg for all available 
	# macros

        }
