define host{
        use                    	cisco
        host_name               switch-cisco
        address                 switch-cisco.mydomain.com

	# Check all 10 ports of this switch
	_ports			Port [1-10]
        }
