# Define a command for the Trending module

# Will be applied to a service about another service of the same host
define command {
       command_name     check_trending
       command_line	$PLUGINSDIR$/trending/check_trending.py --chunk-size 900 -H $HOSTADDRESS$ -s $ARG1$ -m $ARG2$ -W $ARG3$ -C $ARG4$
}


define command {
       command_name     check_trending_future
       command_line     $PLUGINSDIR$/trending/check_trending.py --chunk-size 900 -H $HOSTADDRESS$ -s $ARG1$ -m $ARG2$ --prevision $ARG3$
}
