# All windows commands are using the check_wmi_plus.pl plugin. Install it with the shinken.sh script.
# You will also need to update the _domainuser _domainpassword macros of your host if it's specific,
# or the defaults values in the etc/shinken/resources.cfg file for global ones.

# Will check all windows disks. -o means the perfdata will be whith E: and not names
# and -3 is for printong in output bad states first
define command {
       command_name	check_windows_disks
       command_line	$PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkdrivesize -a '.'  -w $_HOSTWINDOWS_DISK_WARN$ -c $_HOSTWINDOWS_DISK_CRIT$ -o 1 -3 0 -t 35 --inidir=$PLUGINSDIR$
}

define command {
	command_name check_windows_host_alive
	command_line $PLUGINSDIR$/check_winping.exe -H $HOSTADDRESS$ -w 100.0,70% -c 300.0,90%
}

# Will look for the $ARG1$ (check_windows_eventlogs!application for example) log for at least Severity Level "Warning", were
# recorded in the last 1 hours
define command {
       command_name     check_windows_eventlogs
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkeventlog -a $ARG1$ -o 2 -3 1  -w $_HOSTWINDOWS_EVENT_LOG_WARN$ -c $_HOSTWINDOWS_EVENT_LOG_CRIT$  -t 35 --inidir=$PLUGINSDIR$
}


# Look for a recent reboot
define command {
       command_name     check_windows_reboot
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkuptime -w '$_HOSTWINDOWS_REBOOT_WARN$' -c '$_HOSTWINDOWS_REBOOT_CRIT$' -t 35 --inidir=$PLUGINSDIR$
}

# Look for the physical memory
define command {
       command_name     check_windows_physical_memory
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkmem -w $_HOSTWINDOWS_MEM_WARN$ -c $_HOSTWINDOWS_MEM_CRIT$  -t 35 --inidir=$PLUGINSDIR$
}

# And look for swap
define command {
       command_name     check_windows_swap
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkpage -a auto -t 35 --inidir=$PLUGINSDIR$
}


# Look for overall CPU
define command {
       command_name     check_windows_overall_cpu
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkcpu -w $_HOSTWINDOWS_ALL_CPU_WARN$ -c $_HOSTWINDOWS_ALL_CPU_CRIT$ -t 35 --inidir=$PLUGINSDIR$
}

# And for each CPU
define command {
       command_name     check_windows_each_cpu
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkeachcpu -w $_HOSTWINDOWS_CPU_WARN$ -c $_HOSTWINDOWS_CPU_CRIT$ -t 35 --inidir=$PLUGINSDIR$
}

# Somelike load average
# Check 20times as quick as possible
define command {
       command_name     check_windows_loadaverage
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkcpuq  -w $_HOSTWINDOWS_LOAD_WARN$ -c $_HOSTWINDOWS_LOAD_CRIT$ -a 20 -y 0 -t 35 --inidir=$PLUGINSDIR$
}


# Auto services are started
define command {
       command_name     check_windows_auto_services
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkservice -a Auto -o '$_HOSTWINDOWS_EXCLUDED_AUTO_SERVICES$' -w $_HOSTWINDOWS_AUTO_SERVICES_WARN$ -c $_HOSTWINDOWS_AUTO_SERVICES_CRIT$ -t 35 --inidir=$PLUGINSDIR$
}

# Will warn for a >25% CPU process
define command {
       command_name     check_windows_big_processes
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkproc -s cpuabove -a '%' -w $_HOSTWINDOWS_BIG_PROCESS_WARN$ -t 35 -exc _AvgCPU=@0:2 --nodataexit 0 --nodatastring "No processes with high CPU found" --inidir=$PLUGINSDIR$
}


# Will warn for a >25% CPU process that we give it the name
# like check_windows_big_process!firefox
define command {
       command_name     check_windows_big_process
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkproc -s cpu -a '$ARG1$' -t 35  --nodatamode --inidir=$PLUGINSDIR$
}

# Look for disks I/Os
define command {
       command_name     check_windows_disks_io
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkio -s logical -a '%' -t 35 --inidir=$PLUGINSDIR$
}

# Look for too much inactive TS sessions. 0 or 1 is ok, 2 or more is warning
define command {
       command_name     check_windows_inactive_ts_sessions
       command_line     $PLUGINSDIR$/check_wmi_plus.pl -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSER$" -p "$_HOSTDOMAINPASSWORD$" -m checkts -s sessions -w 'InactiveSessions=0:1' -t 35 --inidir=$PLUGINSDIR$
}


# Check a windows share
define command {
       command_name     check_windows_share
       command_line     $PLUGINSDIR$/check_disk_smb -H $HOSTADDRESS$ -u "$_HOSTDOMAINUSERSHORT$" -p "$_HOSTDOMAINPASSWORD$" -W '$_HOSTDOMAIN$' -s '$ARG1$' -w $_HOSTWINDOWS_SHARE_WARN$ -c $_HOSTWINDOWS_SHARE_CRIT$ -t 35 --inidir=$PLUGINSDIR$
}


