### For filesystems discovery
define discoveryrun {
        discoveryrun_name       filesystems
        discoveryrun_command    fs_discovery!$_HOSTOS$
        os                      ^aix$|^linux$|^hp-ux$
}
