# Here are some examples for tagging hosts with classic templates

# The generic-host should be AT THE END, because templates are built
# from more specific to generic
define discoveryrule {
       discoveryrule_name	HostGeneric
       creation_type		host
       # Generic host should be the last template use, so we give it the
       # last order
       discoveryrule_order	999

       isup			1
       +use			generic-host
}

#################################################################
# Unix Filesystem discovery rules
#################################################################
define discoveryrule {
        discoveryrule_name     fs_root
        creation_type          host
        fs                     ^_root$
        fqdn                   ^.{6}p\d$
        +use                   fs_root
}

define discoveryrule {
        discoveryrule_name     fs_var
        creation_type          host
        fs                     var$
        fqdn                   ^.{6}p\d$
        +use                   fs_var
}

define discoveryrule {
        discoveryrule_name     fs_usr
        creation_type          host
        fs                     usr$
        fqdn                   ^.{6}p\d$
        +use                   fs_usr
}

define discoveryrule {
        discoveryrule_name     fs_opt
        creation_type          host
        fs                     opt$
        fqdn                   ^.{6}p\d$
        +use                   fs_opt
}

define discoveryrule {
        discoveryrule_name     fs_home
        creation_type          host
        fs                     home$
        fqdn                   ^.{6}p\d$
        +use                   fs_home
}

define discoveryrule {
        discoveryrule_name     fs_tmp
        creation_type          host
        fs                     tmp$
        fqdn                   ^.{6}p\d$
        +use                   fs_tmp
}
