################################################################################
# Discovery_commands
#===============================================================================
# Download:
# - nmap_discovery, vmware_esx_discovery:
#       Shinken's sources (in libexec)
# - fs_discovery, cluster_discovery:
#       ???
################################################################################

## NMAP Discovery
# nmap_discovery_runner.py [options] -t nmap scanning targets
define command {
    command_name    nmap_discovery
    command_line    $PLUGINSDIR$/discovery/nmap_discovery_runner.py --min-rate $NMAPMINRATE$ --max-retries $NMAPMAXRETRIES$ -t $NMAPTARGETS$
}


# nmap runner, the will use the nmap_discovery command.
define discoveryrun {
       discoveryrun_name	nmap
       discoveryrun_command	nmap_discovery
}


## VMWare ESX Discovery
# vmware_discovery_runner.py [options]
define command {
    command_name    vmware_esx_discovery
    command_line    $PLUGINSDIR$/discovery/vmware_discovery_runner.py -V $VCENTER$ -u $VCENTERLOGIN$ -p $VCENTERPASSWORD$ -r "lower|nofqdn"
}

# vsphere runner ,that will as the vmware_esx_discovery command
define discoveryrun {
    discoveryrun_name       vsphere
    discoveryrun_command    vmware_esx_discovery
}
