<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="pythonlauncher" value="C:\Python27\python.exe"/>

    <add key="Poller_parameters" value="-c @@INSTALLDIR@@\etc\pollerd-windows.ini"/>
    <add key="Poller_service" value="@@INSTALLDIR@@\bin\shinken-poller.py"/>
    <add key="Poller_SrvOutput" value="true"/>
    <add key="Poller_SrvOutputfolder" value="@@INSTALLDIR@@\svclogs"/>

    <add key="verboselevel" value="Error"/>
    <add key="Shinken_Poller" value="logconfig\shinken-pollerlogconf.xml"/>

  </appSettings>
</configuration>