/* ----------------------------------------------------------------
 *  TABLE OF CONTENT
 * ----------------------------------------------------------------
 *  + Top navigation:			#nav
 *  + Side navigation:			#nav_left
 *  + Tab navigation:			#qtabs
 *
 *  * Todo: change #nav_left -> #nav_side
  ----------------------------------------------------------------*/

/* ----------------------------------------------------------------
 *  Top navigation
 * ----------------------------------------------------------------*/
 
/* this is the main UL element*/
.dropdown{
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	background: #222222;
	height: 40px;
}

/* these are the inner menus*/
.dropdown ul{
	list-style:none;
	margin: 0;
	margin-left: 15px; 
	float: left;
	padding-left: 8px;
	background: #222222;
}

/* these are all the LIs in the menu*/
.dropdown li{
	color: #636363;
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	cursor:pointer;
}

/* these are anchor in the menu, if you want to style them differently from the rest of you website*/
.dropdown a{
	text-decoration:none;
	color:#636363;
	width:100%;
}

.dropdown a:hover, .dropdown a#selected{
	padding-bottom: 10px;
	color: #FFFFFF;
	background: transparent url(/static/images/pointer.gif) bottom center no-repeat;
}

/* these are the LIs that only belong to submenu*/
.dropdown ul li{
	border-top:0;
	margin-left:-1px;
}

/* these are the LIs that contains a submenu*/
.dropdown li.submenu-down{
	/*background: transparent url(/static/images/pointer.gif) center left no-repeat;
	padding-left:20px;
	width:105px;*/
}



.dropdown div {
	-moz-box-shadow: -1px 1px 1px #CCCCCC;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-top: none;
	background: #FFFFFF;
	height: 100px;
	width: 250px;
	position: absolute;
    right: -35px;
}

.dropdown span {
	line-height: 22px;
	padding: 10px 0 0 10px;
}

.menu_right{
	float:right !important;
}
/* ----------------------------------------------------------------
 *  Side navigation
 * ----------------------------------------------------------------*/

#nav_left {
	border-top: 1px solid #E3E3E5;
}
#nav_left li{
	margin-left: 0;
/*	border-bottom: 1px solid #E3E3E5;*/
/*	height: 45px;*/
	text-align: center;
	background-color:#FFFFFF
}

#nav_left ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
/*	background-color:#E3E3E5*/
}

#nav_left a{
	display: block;
	text-decoration: none;
	color: #787878;
	font-size: 13px;
	padding-top:10px;
	padding-bottom:10px;
/*	padding-top: 14px;*/
	
}

#nav_left li:hover{
	font-weight: bold;
}

#nav_left li.left_title{
	background-color: #F1F1F1;
}

/* ----------------------------------------------------------------
 * TAC 
 * ----------------------------------------------------------------*/

div.tac_content{
	width:95%;
	height:20px;
	border-bottom:1px solid #E3E3E5;
	border-right:1px solid #E3E3E5;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:15px;
}

div.tac_header{
	width:95%;
	height:20px;
	border-top:1px solid #E3E3E5;
	border-bottom:1px solid #E3E3E5;
	border-right:1px solid #E3E3E5;
	margin-left:5px;
	margin-right:5px;
	margin-top:15px;
}

div div.tac_col_1{
	border-left: 1px solid #E3E3E5; ;
	width:33%;
	height:20px;
	float:left;
	font-weight:bold;
	font-color:#787878;
}
div div.tac_col_2{
	border-left: 1px solid #E3E3E5; ;
	width:33%;
	height:20px;
	float:left;
	font-weight:bold;
	font-color:#787878;
}
div div.tac_col_3{
	border-left: 1px solid #E3E3E5; ;
	width:32%;
	height:20px;
	float:left;
	font-weight:bold;
	font-color:#787878;
}

/* ----------------------------------------------------------------
 * search 
 * ----------------------------------------------------------------*/

#search_form span.table {
	display:table;
	width:200px;
}

#search_form span.table span.row {
	display:table-row;
	width:200px;
	vertical-align:top;
}

#search_form span.table span.row span.cell {
	display:table-cell;
	border:1px solid red
	height:25px;
}

#search_form span.table span.row span input {
	height:25px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}

#search_form span.table span.row span img {
	vertical-align:bottom;
	height:25px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:0px;
}

/* ----------------------------------------------------------------
 *  Tab navigation
 * ----------------------------------------------------------------*/

/* Used by all layouts: do NOT remove this section */
.qtwrapper {
	height: 1%;
}
ul.qtabs {
	list-style-position: outside;
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
ul.qtabs li {
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
}
.qtcontent {
	position: absolute;
	margin: 0;
	padding: 3px;
	width:99%;
	visibility: hidden;
}
.qtcurrent {
	position:relative;
	overflow:hidden; 
}
/* End Common Styles */

/* Layouts */
/* You can remove a section if you don't need that particular layout */

/* Basic Tabs  (class suffix: -basic) */

.qthead-basic ul.qtabs li {
	height: 30px;
	width: 100px;
	padding: 0 !important;
	border: 1px solid #E3E3E5;
	border-bottom: none;
	position: relative;
	bottom: -1px;
	text-align: center;
	color: #787878;
	font-size: 13px;
}
.qthead-basic ul.qtabs li span {
	display: block;
	margin: 0;
	padding: 3px;
}
.qthead-basic ul.qtabs li.open {
	font-weight: bold;
	background: #fff !important;
	z-index: 2;
}
.qthead-basic ul.qtabs li.open span {
	color: #787878;
}
div.current-basic {
	clear: both;
	border-width: 1px 1px 1px; 
	border-style: solid;
	border-color: #E3E3E5;
	/*width: 490px;*/
	min-height: 300px;
}

/* Rounded Tabs (class suffix: -round1) */
.qthead-round1 ul.qtabs li {
	background:#eeeeee url(images/round1l.gif) no-repeat scroll 0% 0%;
	margin-left: 5px !important;
	padding: 0;
}
.qthead-round1 ul.qtabs li span {
	background: transparent url(images/round1r.gif) no-repeat scroll right top;
	display: block;
	margin: 0;
	padding: 4px;
}
.qthead-round1 ul.qtabs li.open {
	background:#666666 url(images/round1lo.gif) no-repeat scroll 0% 0%;
}
.qthead-round1 ul.qtabs li.open span {
	background:transparent url(images/round1ro.gif) no-repeat scroll right top;
	color:#fff;
}
.qthead-round1 ul.qtabs li.hover span {
	text-decoration: underline;
}
div.current-round1 {
	clear:both;
	border-width: 3px 1px 1px; 
	border-style:solid;
	border-color: #666666;
	width: 450px;
}

/* Left Aligned Blue Buttons (class suffix:lft-blue1) */
.qthead-lft-blue1 {
	float:left;
	background: #eeeeee url(images/back1.gif) repeat-y scroll right top;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #d0d0d0;
	height: 200px; /* same as .current-lft-blue1 */
}
.qthead-lft-blue1 ul.qtabs {
	margin: 0;
	
}
.qthead-lft-blue1 ul.qtabs li {
	float: none;
	background:#fff url(images/bg-blue1.gif);
	margin: 0;
	padding: 6px !important;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	width: 90px;
}

.qthead-lft-blue1 ul.qtabs li span{
	color: #fff;
}
.qthead-lft-blue1 ul.qtabs li.open {
	background: #f4f4f4;
	border-right: 1px solid #f4f4f4;
}
.qthead-lft-blue1 ul.qtabs li.hover span {
	text-decoration: underline;
}
.qthead-lft-blue1 ul.qtabs li.open span{
	color: #666666;
	text-decoration: none;
}

div.current-lft-blue1 {
	clear: none;
	float: left;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #d0d0d0;
	background-color: #f4f4f4;
	padding: 0;
	width: 350px;
	height: 200px; /* same as .qthead-lft-blue1 */
}
/*
 * 
 * 
 */

