
# Create some contact groups

define contactgroup{
    contactgroup_name   admins
    alias               admins
    members             admin
}

define contactgroup{
    contactgroup_name   users
    alias               users
    members             admin
}
