# This is a default admin
# CHANGE ITS PASSWORD!

define contact{
    use             generic-contact
    contact_name    adminAdmys
    email           admin.admys@sydel.fr
    pager           0600000000   ; contact phone number
    password        admin
    is_admin        1
}


# This is a default guest user
# CHANGE ITS PASSWORD or remove it
define contact{
    use                 generic-contact
    contact_name        Admys
    email               admys@sydel.fr
    password            Admys
    can_submit_commands 1
}
