.donutContainer {
    height: 110px;
    width : 120px;
    position: relative;
}


.donut_canvas {
    left: 50%;
    position: absolute;
    top: 0;
    margin-left: -50px;
}

.counter {
    font-weight: bold;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -40px;
    line-height: 30px;
    color: #777;
    width: 80px;
    text-align: center;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


.lab {
font-size: 11px;
position: absolute;
top: 55px;
width: 100%;
text-align: center;
color: #A6A6A6;
display: inline-block;
margin: 0;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}