		<div class="boxwhite" id="form">
			<div class="rowform">
				<div class="leftcol">Name</div>
				<div class="rightcol"><input type="text"/></div>
			</div>
			<div class="clear"></div>
			<div class="rowform">
				<div class="leftcol">Address</div>
				<div class="rightcol"><input type="text"/></div>
			</div>
			<div class="clear"></div>
			<div class="clear"></div>
			<div class="rowform">
				<div class="leftcol">Port</div>
				<div class="rightcol"><input type="text"/></div>
			</div>
			<div class="clear"></div>
			<div class="rowform">
				<div class="leftcol">Spare</div>
				<div class="rightcol"><input type="checkbox"/></div>
			</div>
			<div class="clear"></div>
			<div class="rowform">
				<div class="leftcol">Realm</div>
				<div class="rightcol"><select class="realm"><option></option></select></div>
			</div>
			<div class="clear"></div>
			<div class="rowform">
				<div class="leftcol">Modules</div>
				<div class="rightcol">
					<div class="sel1">
						<select class="selectdual" size="10"><option></option></select>
					</div>
					<div class="exchange">
						<input type="button" value="&gt;&gt;"/> 
						<input type="button" value="&lt;&lt;"/>
					</div>
					<div class="sel2">
						<select class="selectdual" size="10"><option></option></select>					
					</div>
				</div>
			</div>
			<div class="rowform right">
				<input type="button" value="Save"/>
				<input type="button" value="Cancel"/>
			</div>
			<div class="clear"></div>
		</div>

