
# check_hpasm check for the health of an Hp server
# Need the good snmp value on the server, and all pollers to be enabled in the snmpd conf!
define command {
       command_name	check_hp_asm
       command_line	$PLUGINSDIR$/check_hpasm -H $HOSTADDRESS$ -C "$_HOSTHP_ASM_COMMUNITY$"
}
