

/* OpenID icon style */


input.system-openid, input.com-system-openid {
   background: url(http://openid.net/images/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}


/* Unpublished */
.system-unpublished {
background: #e8edf1;
border-top: 4px solid #c4d3df;
border-bottom: 4px solid #c4d3df;
}

/* System Messages */
#system-message    { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; text-indent: 30px; }
#system-message dd ul { color: #0055BB; margin-bottom: 10px; list-style: none; padding: 10px; border-top: 3px solid #84A7DB; border-bottom: 3px solid #84A7DB;}

/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }

/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #c00; background-color: #E6C0C0; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

/* Debug */
#system-debug     { color: #ccc; background-color: #fff; padding: 10px; margin: 10px; }
#system-debug div { font-size: 11px;}
body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666;
	background: #fff;
}

body {
  font-size: 10pt;
  margin-left: 15%;
  margin-right: 15%;
  font-family: sans-serif;
  background-image: url(images/shinken-logo-rotated.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-attachment: fixed;
}


body.contentpane {
	background: #fff;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border: none;
}

p {
	margin: 5px 0;
	text-align: justify;
}

a {
	color: #15778e;
	outline: none;
	text-decoration: underline;
	font-weight: 400;
}

a:link {
}

a:visited {
	color: #666666;
}

a:hover {
	text-decoration: none;
	font-weight: 400;
}

input  {
	color: #ccc;
	outline: none;
	margin: 0;
}

input:focus {
	outline: none;
}

button {
	color: #fff;
	font-size: 11px;
	border: none;
	background: #696969;
	cursor: pointer;
}


#modlgn_remember.inputbox  {
	background: none;
	border: none;
	width: auto;
	vertical-align:middle;
}

input.button, .validate  {
	color: #fefefe;
	font-size: 11px;
	cursor: pointer;
	font-weight: 700;
	border: none;
	height:23px;
	line-height:19px;
	padding: 1px 4px 4px;
	margin:6px 0 0 0;
	background: transparent url(../images/but.png) repeat-x top left;
}

input.button:hover, .validate:hover  {
}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

#page_bg {
	background: #252525 url(../images/page_bg.png) repeat-x top left;
}

#wrapper {
	margin:0 auto;
	width:960px;
}

#header {
	position:relative;
	height:250px;
	background: transparent url(../images/headerimg.jpg) no-repeat top center;
}

#top {
	height:30px;
}

#pillmenu {
	position:absolute;
	bottom:17px;
	left:0;
	width:920px;
	padding:0 20px;
	height: 30px;
	overflow: hidden;
	background: transparent url(../images/t_menu_bg.png) no-repeat center center;
}

#pillmenu ul {
	margin: 0;
	padding:0;
	list-style: none;
}

#pillmenu li {
	float: left;
	margin:0 1px 0 0;
}

#pillmenu li a {
	float:left;
	color: #fbfbfb;
	text-decoration: none;
	text-transform:uppercase;
	font-weight: 700;
	height:30px;
	line-height:28px;
	padding: 0 10px;
	cursor:pointer;
}

#pillmenu li a:hover {
	color: #ffa54e;
	background: transparent url(../images/t_menu_hover.png) repeat-x center left;
}

#pillmenu li a#active_menu-nav {
	color: #ffa54e;
	background: transparent url(../images/t_menu_hover.png) repeat-x center left;
}

.logo, .logo table {
	margin:0 auto;
	padding:28px 0 0 0;
	height:140px;
	width:370px;
	overflow:hidden;
}

.logo table {
	padding:0;
}

.logo table td{
	vertical-align:middle;
}

.logo h1 {
	text-align:center;
	text-transform:uppercase;
	margin:0;
	color:#fbfbfb;
	line-height:normal;
}

.logo a, .logo a:link, .logo a:visited  {
	color:#fbfbfb;
	font-size:22px;
	font-weight:700;
	text-decoration:none;
}

.logo a:hover {
	text-decoration:none;
	font-weight:700;
}

#newsflash {
	color:#832968;
	float:left;
	width:660px;
}

.popular .module,.latest .module{
	float:left;
}

.popular .module {
	width:49%;
	padding:0 4px 0 0;
}

.latest .module {
	margin:0;
}

.latest h3,.popular h3  {
	text-align:left;
	height: 22px;
	line-height:19px;
	font-weight: 700;
	color: #eb0c45;
	font-size: 11px;
	text-transform:none;
	margin:0;
	padding:0 0 0 18px;
	background: url(../images/news_arrow.gif) no-repeat center left;
}

.latest h3 {
	padding:0 0 0 48px;
}

.popular a, .popular a:link , .popular ul li a:visited,
.latest a, .latest a:link, .latest ul li a:visited {
	color:#7a7a7a;
	text-decoration:none;
	padding:0 0 0 14px;
	margin:0 0 0 4px;
	line-height:15px;
	background: url(../images/news_arrow.png) no-repeat center left;
}

.popular ul li a:hover, .latest ul li a:hover {
	color:#eb0c45;
	text-decoration:underline;
}

.popular ul li a:visited, .latest ul li a:visited {
	color:#eb0c45;
	text-decoration:underline;
}

.latest .module {
	margin:0;
}

.latestnews {
	padding:0 0 0 30px;
	background: url(../images/newsflash_divider.gif) repeat-y top left;
}


.cpathway {
	height:30px;
	line-height:29px;
	margin:0 auto;
	padding:0 14px;
	overflow:hidden;
}

.cpathway img {
	float:left;
	padding:10px 6px 0 0;
}

span.breadcrumbs.pathway {
	float:left;
	color: #15778e;
	padding:0;
	margin:0;
	line-height:29px;
}

span.breadcrumbs.pathway a.pathway  {
	float:left;
	margin:0;
	padding:0 6px 0 0;
	color:#fb7b1a;
	font-weight:400;
	line-height:29px;
	text-decoration: none;
}

span.breadcrumbs.pathway a.pathway:hover {
	text-decoration: underline;
}

#search {
	position:absolute;
	top:3px;
	right:0;
	height:20px;
	width:211px;
}

.search {
	float:left;
	height:20px;
	background: transparent url(../images/inputbox.png) no-repeat top left;
}

.search .inputbox {
	float:left;
	border: none;
	color: #fff;
	font-size:11px;
	line-height:15px;
	width:174px;
	height:16px;
	padding:2px 6px;
	margin:0;
	background: none;
}

.search .button {
	float:left;
	margin:0;
	padding:0;
	color:#834328;
	text-transform:uppercase;
	text-indent:-9999px;
	width:25px;
	height:20px;
	background: transparent url(../images/search_but.png) no-repeat top left;
}

.search .button:hover {
}

#content {
	position:relative;
	width:960px;
	margin:0 auto;
	padding:0;
}

#content_top {
	padding:10px 0 0 0;
	background: transparent url(../images/content_top.png) no-repeat top center;
}

.c_middle { background: transparent url(../images/content.png) repeat-y top center; }
.c_left { background: transparent url(../images/content_left.png) repeat-y top center; }
.c_right { background: transparent url(../images/content_right.png) repeat-y top center; }
.c_full { background:#f6f6f6;}

#leftcolumn, #rightcolumn {
	float: left;
	width: 210px;
	margin:0 11px 0 0;
}

#rightcolumn {
	margin:0 0 0 11px;
}

div#maincolumn {
	float: left;
	width: 518px;
	padding:0;
}

.full {
	padding:120px 0 0 0;
}

div#maincolumn_full {
	margin:0 auto;	
	width: 920px;
	padding:0 20px 10px;
	background: transparent url(../images/maincolumn.png) repeat-x top left;
}

div#maincolumn_left, div#maincolumn_right  {
	float: left;
	width: 739px;
	padding:0 0 10px;
}

#flashnews {
	color:#1c5649;
	background: transparent url(../images/flashnews.png) no-repeat top right;
}

#flashnews_l {
	padding:10px;
	margin:0 0 10px 0;
	height:95px;
	background: transparent url(../images/flashnews_l.png) no-repeat top left;
}

#flashnews a {
	color:#1c5649;
	text-decoration:underline;
}

#flashnews h3 {
	margin:0 0 4px 4px;
	padding:0;
	font-size:11px;
	color:#000;
	overflow:hidden;
}

div.nopad {
	overflow: hidden;
	padding: 0 10px;
}

div.nopad ul {
	clear: both;
}

td.middle_pad {
	width: 20px;
}

#footer {
	width: 940px;
	margin: 0 auto 20px;
	height: 34px;
	line-height:29px;
	text-align: center;
	color: #fff;
	padding:4px 10px 0;
	background: transparent url(../images/footer_bg.png) no-repeat center bottom;
}

#footer a {
	color: #fff;
	font-weight:400;
	font-size: 11px;
	text-decoration: none;
}

#footer p {
	margin:0;
}

#footer a:hover {
	text-decoration:none;
}

a.footer123:link, a.footer123:visited {
	color: #FE8300;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: underline;
}

#f123 {
	text-align: right;
	width: 100%;
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
}
.f123 {
	text-align: right;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}
.f123_bg {
	background:url(../images/123_bg.png);
	width:134px;
	height:30px;
	text-align:center;
	padding: 0 3px;
}
.f123_1 {
	display: block;
	font-size: 10px;
	font-family: Tahoma, Arial, sans-serif;
	color: #666;
	text-align: left;
	padding: 0 0 2px 4px;
}

a.link_123:link, a.link_123:visited {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}
a.link_123:hover {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading {
	height: 22px;
	margin:0;
	color: #15778e;
}

table.blog {
	
}

h2, .title {
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	vertical-align: bottom;
	color: #153A71;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	color: #fb7b1a;
	text-align: left;
	font-weight: 700;
}

p.title {
        padding: 0;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        font-size: 11px;
        vertical-align: middle;
        color: #fb7b1a;
        text-align: left;
        font-weight: 700;
}


h2, a.contentheading {
	background: none;
	border: none;
	margin:6px 0;
}

table.contentpaneopen h3 {
	margin-top: 25px;
	color:#6493b3;
}

h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
	margin:6px 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight:700;
	text-align: left;
	text-transform:uppercase;
	color: #c0500d;
	padding: 0;
}
/* small text */
.small {
	font-size: 10px;
	color: #000;
	font-weight: 700;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 10px;
	color: #666;
	text-align: right;
}

.createdate {
	vertical-align: top;
	font-size: 11px;
	color: #999;
	padding-bottom: 8px;
}

a.readon {
	float: right;
	background: url(../images/readon.png) no-repeat center left;
	line-height: normal;
	font-size: 11px;
	padding: 0 0 0 14px;
	color: #7c7c7c;
	text-transform: lowercase;
	text-decoration: none;
}

a.readon:hover {
	text-decoration: underline;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f1f1f1;
	color: #333;
}

.ol-background {
	background-color: #f1f1f1;
	color: #333;
}

.ol-textfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #fbfbfb;
	font-weight: 700;
}
.ol-captionfont a {
	background-color: #f1f1f1;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {

}

.column_separator {
	
}

td.buttonheading {
	text-align: right;
	width: 0;
}

.clr {
	clear: both;
	font-size:0;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}



/* table of contents */
table.contenttoc {
  margin: 5px;
  padding: 5px;
  background: none;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  color: #999;
  font-weight: 700;
  padding: 4px;
}

tr.sectiontableentry1 td {
	padding: 4px;
}

tr.sectiontableentry1 {
	background:#ddebf4;
}
  
tr.sectiontableentry0 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
  font-size: 11px;
}


/* content styles */
.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
}

table.contentpane td{
	text-align: left;
}

table.contentpane td.contentdescription {
	width: 100%;
}

table.contentpane  {
	text-align: left;
	float: left;
	width: 100%;
}

table.contentpane ul li a .category {
	color: #FF8800;
}

table.contentpane ul li {
	color: #666;
}

table.contentpaneopen {
	border-collapse: collapse;
	margin:0 4px;
}

#newsflash {
	position:absolute;
	top:0;
	left:221px;
	margin:0 auto;
	width:486px;
	height:116px;
	padding:8px 16px 10px;
	background:transparent url(../images/news_bg.png) no-repeat center top;
}

.newsflash table.contentpaneopen {
	margin:0;
	padding:0;
	color:#aaa;
	text-align:left;
}

.newsflash table.contentpaneopen a {
	color:#fbfbfb;
	text-decoration:none;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #669933;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #492f20;
}

.highlight {
	background-color: #fffebb;
}

ul.latestnews, ul.mostread {
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.moduletable, div.module {
  margin-bottom: 25px;
}

div.module_menu, div.module, div.module_text {
	margin: 0;
	padding: 0;
}

div.module_menu div, div.module div, div.module_text div {
}

div.module_menu div div, div.module div div, div.module_text div div {
}

.newsflash div.module  {
	height:100px;
	overflow:hidden;
}

.newsflash div.module div  {
}

div.module_menu div div div, div.module div div div, div.module_text div div div {
	margin: 0 auto 14px;
	text-align: center;
}

.popular div.module_menu div div div, .popular div.module div div div, .popular  div.module_text div div div,
.newsflash div.module_menu div div div, .newsflash div.module div div div, .newsflash  div.module_text div div div {
	margin:0;
	padding:0;
}

div.module div div div div {
	width: 160px;
	color:#15778e;
}

div.module_menu div div div div, div.module div div div div, div.module_text div div div div {
	background: none;
	margin:0 auto;
	padding:0;
}

div.module_text div div div div {
	text-align: left;
}

div.module_text div div div div.bannergroup_text {
	padding: 10px 10px 10px 20px;
	width: 174px;
}

div.module_text div div div div.bannergroup_text div {
	color:#666666;
	width: auto;
	padding: 0 0 4px;
}

div.module div div div form {
	margin:0 auto;
	padding:0 0 0 20px;
	text-align:left;
	width:180px;
}

div.module_menu ul {
	list-style: none;
	padding: 0;
}

div.module_menu ul#mainlevel {
	margin: 0 auto;
	text-align: center;
}

div.module_menu ul li{
	margin: 0;
	padding: 0;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: 700;
	padding: 2px 0;
	line-height: 24px;
}

#leftcolumn div.module table ,#rightcolumn div.module table {
}

#leftcolumn div.module table td ,#rightcolumn div.module table td {
	margin:0;
	padding: 0 6px 0 0;
	height:20px;
	color:#15778e;
	text-align:left;
	line-height:13px;
	vertical-align: middle;
}

#leftcolumn div.module table.poll {

}

#leftcolumn div.module table.poll td {
	text-align: left;
}

/* LEFT COL H3 */
#leftcolumn h3, #rightcolumn h3 { 	
	width: 184px;
	height: 24px;
	line-height: 23px;
	padding: 0 10px 0 16px;
	margin:0 0 8px 0;
	color: #ea7c10;
	font-size: 11px;
	text-align: left;
	font-weight: 700;
	overflow:hidden;
	text-transform:none;
	background: transparent url(../images/box_h3.png) no-repeat top left;
}

#rightcolumn h3 {
	background: transparent url(../images/box_h3_r.png) no-repeat top left;
}

#leftcolumn .moduletable_menu, #leftcolumn .moduletable, #leftcolumn .moduletable_text, #leftcolumn .c, 
#rightcolumn .moduletable_menu, #rightcolumn .moduletable, #rightcolumn .moduletable_text, #rightcolumn .c {
	margin: 0 0 16px 0;
	padding: 0 0 8px 0;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	list-style: none;
	text-align: left;
	margin:0;
	padding:0 0 0 10px;
}

#rightcolumn ul.menu {
	margin:0 10px 0 0;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	margin:0 0 1px 0;
}

#leftcolumn ul.menu li:hover, #rightcolumn ul.menu li:hover {
}


#leftcolumn ul.menu li ul li, #rightcolumn ul.menu li ul li {
}

/*LEFT COL LINK*/
#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	display:block;
	font-weight: 700;
	font-size: 11px;
	height:15px;
	line-height: 15px;
	padding: 0 0 4px 10px;
	text-decoration: none;
	color: #34b1ce;
}


#leftcolumn ul.menu li a:hover, #rightcolumn ul.menu li a:hover {
	color: #15778e;
	background: transparent url(../images/menu_arrow_hover.png) no-repeat center left;
}

/*LEFT COL CURRENT LINK*/

#leftcolumn ul.menu li#current, #rightcolumn ul.menu li#current {
}

#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	display:block;
	color: #15778e;
	background: transparent url(../images/menu_arrow_hover.png) no-repeat center left;
}

#leftcolumn ul.menu li#current {
	
}

#leftcolumn ul.menu li#current a:hover, #rightcolumn ul.menu li#current a:hover {

}

/*LEFT COL SUB LINK*/
#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link,
#rightcolumn ul.menu li#current ul li a, #rightcolumn ul.menu li#current ul li a:link {
	font-weight: 400;
	font-size: 11px;
	line-height:15px;
	text-decoration: none;
	color: #15778e;
	background:none;
}

#leftcolumn ul.menu li#current ul li a:hover, #rightcolumn ul.menu li#current ul li a:hover {
	color:#000;
}

#leftcolumn ul.menu li ul li#current, #rightcolumn ul.menu li ul li#current {
	background:none;
}

#leftcolumn ul.menu li.parent ul li, #rightcolumn ul.menu li.parent ul li {
	background:none;
}

#leftcolumn ul.menu li.parent ul li a, 
#rightcolumn ul.menu li.parent ul li a {
	line-height:15px;
	font-size: 11px;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	background:none;
}

#leftcolumn ul.menu li.parent ul li a:hover {
}

/*SUBMENU POSITION*/
#leftcolumn ul.menu li#current ul {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li#current ul li {
	margin: 0;
	padding: 0;
}

/*CURRENT SUBMENU POSITION*/
#leftcolumn ul.menu li ul {
	margin: 0;
	padding: 0;
}


#leftcolumn ul.menu li ul, #rightcolumn ul.menu li ul {
	list-style: none;
	margin:0;
}


/* forms */
#leftcolumn .moduletable ul, #rightcolumn .moduletable ul {
	margin: 6px 0;
	padding: 0;
	list-style: none;
}

#leftcolumn .moduletable ul li, #rightcolumn .moduletable ul li {
	margin: 0;
	padding: 0 2px;
}

table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

form#form-login fieldset { 
	border: 0 none; 
	padding: 0;
	margin:0;
	color:#000;
	text-align: left;
}

form#form-login ul {
	padding: 0;
	list-style: none;
	text-align: left;
	margin: 10px auto 0;
}

form#form-login ul li { 
	padding: 0; 
}

form#form-login ul li a {
	text-align: left;
	padding: 0;
	font-size: 11px;
	color: #15778e;
	text-decoration: none;
}

form#form-login ul li a:hover {
	text-decoration: underline;
}

#form-login input {
	border:#df9d53 solid 1px;
	color:#000;
	font-size:11px;
	height:14px;
	line-height:15px;
	padding:2px 4px;
	background:#c9c9c9;
}

input#modlgn_passwd, input#modlgn_username {
	width:150px;
}

input.button, #form-login input.button {
	height:22px;
	color:#fff;
	line-height:15px;
	padding:2px 4px 4px;
	border:none;
	background:transparent url(../images/but.gif) top left repeat-x;
}

input.button:hover, #form-login input.button:hover {
	color:#ea7c10;
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #333; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #333; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family: Tahoma, Arial, sans-serif;
	font-weight: 700;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem {
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.banneritem_text a {
	font-weight:700;
	color:#15778e;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 4px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #333;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: 700;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { 
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#system-message dd {
	text-indent: 0;
}

#system-message dd ul {
	list-style-type: none;
	color: #c00; 
	background: none;
	border: none;
}

#system-message {
	margin-top: 5px;
}


#div.navheader {
#    font-style: italic;
#    font-size: 11;
#    padding-top: 8px;
#    padding-left: 8px;
#    padding-right: 8px;
#    padding-bottom: 8px;
#    background-color: #FFFFBB;
#    align: right;
#}

/*
.programlisting{
    padding:5px 0;
    text-align:left;
    border:solid 1px #eee;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#f3f3f3
    overflow: auto;
    margin: 0.5em 2em;
}*/


.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #f3f3f3;
        color: #000;   
        overflow: auto;
        border-radius: 5.5px;
        -moz-border-radius: 5.5px;
        margin: 0.5em 2em;
}


.programlisting img{
    margin:0
}

p.programlisting-text{
    font-size:10px;
    margin:0;
    padding:0.25em 0 0 0
}



.screen {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #f3f3f3;
        color: #000;   
        overflow: auto;
        border-radius: 5.5px;
        -moz-border-radius: 5.5px;
        margin: 0.5em 2em;
}


.screen img{
    margin:0
}

p.screen-text{
    font-size:10px;
    margin:0;
    padding:0.25em 0 0 0
}

/*document navigation*/
.docnav a, .docnav strong {
	border:none;
	text-decoration:none;
	font-weight:normal;
}

.docnav {
	list-style:none;
	margin:0em;
	padding:0em;
	position:relative;
	width:100%;
	padding-bottom:2em;
	padding-top:1em;
	border-top:1px dotted #ccc;
}

.docnav li {
	list-style:none;
	margin:0em;
	padding:0em;
	display:inline;
	font-size:.8em;
}

.docnav li:before {
	content:" ";
}

.docnav li.previous, .docnav li.next {
	position:absolute;
	top:1em;
}

.docnav li.up, .docnav li.home {
	margin:0em 1.5em;
}

.docnav li.previous {
	left:0px;
	text-align:left;
}

.docnav li.next {
	right:0px;
	text-align:right;
}

.docnav li.previous strong, .docnav li.next strong {
	height:22px;
	display:block;
}

.docnav {
	margin:0 auto;
	text-align:center;
}

.docnav li.next a strong {
	background:  url(../images/stock-go-forward.png) top right no-repeat;
	padding-top:3px;
	padding-bottom:4px;
	padding-right:28px;
	font-size:1.2em;
}

.docnav li.previous a strong {
	background: url(../images/stock-go-back.png) top left no-repeat;
	padding-top:3px;
	padding-bottom:4px;
	padding-left:28px;
	padding-right:0.5em;
	font-size:1.2em;
}

.docnav li.home a strong {
	background: url(../images/stock-home.png) top left no-repeat;
	padding:5px;
	padding-left:28px;
	font-size:1.2em;
}

.docnav li.up a strong {
	background: url(../images/stock-go-up.png) top left no-repeat;
	padding:5px;
	padding-left:28px;
	font-size:1.2em;
}

.docnav a:link, .docnav a:visited {
	color:#666;
}

.docnav a:hover, .docnav a:focus, .docnav a:active {
	color:black;
}

.docnav a {
	max-width: 10em;
	overflow:hidden;
}

.docnav a:link strong {
	text-decoration:none;
}

.docnav {
	margin:0 auto;
	text-align:center;
}

ul.docnav {
	margin-bottom: 1em;
}


/*user interface styles*/
.screen .replaceable {
	color:#444;
}

pre, code, .guibutton, .keycap, .guilabel {
	font-family:"liberation mono", "bitstream vera mono", "dejavu mono", monospace;
}

code {
	white-space: nowrap;
}