.no-leftpadding {
	padding-left: 0;
}

.no-leftmargin {
	margin-left: 0 !important;
}

.box {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.box blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}