.min-height {
  min-height: 600px;
}
.no-leftpadding {
	padding-left: 0;
}

.leftpadding1 {
  padding-left: 10px;
}

.leftpadding2 {
  padding-left: 20px;
}
.no-leftmargin {
	margin-left: 0 !important;
}

.no-bottommargin {
	margin-bottom: 0 !important;
}

.bottommargin {
  margin-bottom: 20px;
}

.no-maxwidth{
  max-width: none !important; 
}

.quickinfo{
  text-decoration: none !important;
}

.plus6 {
  width: 52.6%;
}

.imgsize1 {
  height: 12px;
  width: 12px;
  margin-right: 2px;
  vertical-align:
}

.imgsize2 {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  vertical-align:
}

.imgsize3 {
  height: 25px;
  width: 25px;
  margin-right: 2px;
  vertical-align: -3px; 
}

.box {
  min-height: 20px;
  padding: 10px 0px 10px 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.box blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.alert-critical {
    color: #FFFFFF;
    background-color: #e10000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#bd0000)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e10000, #bd0000); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e10000, #bd0000); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e10000, #bd0000); /* IE10 */
    background-image:      -o-linear-gradient(top, #e10000, #bd0000); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e10000, #bd0000);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e10000', EndColorStr='#bd0000'); /* IE6-IE9 */
}

.alert-warning {
    color: #FFFFFF;
    background-color: #71DB65;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#ff5f00)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FF9900, #ff5f00); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #FF9900, #ff5f00); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #FF9900, #ff5f00); /* IE10 */
    background-image:      -o-linear-gradient(top, #FF9900, #ff5f00); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #FF9900, #ff5f00);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF9900', EndColorStr='#ff5f00'); /* IE6-IE9 */
}

.alert-good {
    color: #FFFFFF;
    background-color: #7AB317;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7AB317), to(#669900)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #7AB317, #669900); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #7AB317, #669900); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #7AB317, #669900); /* IE10 */
    background-image:      -o-linear-gradient(top, #7AB317, #669900); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #7AB317, #669900);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e10000', EndColorStr='#669900'); /* IE6-IE9 */
}

.alert-info, .alert-unknown {
    color: #FFFFFF;
    background-color: #71DB65;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#71DB65), to(#7AB317)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #71DB65, #7AB317); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #71DB65, #7AB317); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #71DB65, #7AB317); /* IE10 */
    background-image:      -o-linear-gradient(top, #71DB65, #7AB317); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #71DB65, #7AB317);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#71DB65', EndColorStr='#7AB317'); /* IE6-IE9 */
}

.label-help {
  background-color: #3A87AD;
}

.navbar-inner {
  background-color: #2F5F8F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2F5F8F), to(#005086)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2F5F8F, #005086); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #2F5F8F, #005086); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #2F5F8F, #005086); /* IE10 */
  background-image:      -o-linear-gradient(top, #2F5F8F, #005086); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #2F5F8F, #005086);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2F5F8F', EndColorStr='#005086'); /* IE6â��IE9 */
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .navbar-text {
    color: #FFFFFF;
}

h1 {
  font-size: 26px;
}