.no-leftpadding {
	padding-left: 0;
}

.leftpadding1 {
  padding-left: 10px;
}

.leftpadding2 {
  padding-left: 20px;
}
.no-leftmargin {
	margin-left: 0 !important;
}

.no-bottommargin {
	margin-bottom: 0 !important;
}

.no-maxwidth{
  max-width: none !important; 
}

.quickinfo{
  text-decoration: none !important;
}

.plus6 {
  width: 52.6%;
}

.box {
  min-height: 20px;
  padding: 10px 0px 10px 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.box blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.alert-critical {
    color: #FFFFFF;
    background-color: #e10000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e10000), to(#bd0000)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e10000, #bd0000); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e10000, #bd0000); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e10000, #bd0000); /* IE10 */
    background-image:      -o-linear-gradient(top, #e10000, #bd0000); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e10000, #bd0000);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e10000', EndColorStr='#bd0000'); /* IE6-IE9 */
}

.label-help {
    background-color: #3A87AD;
}

.navbar-inner {
  background-color: #2F5F8F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2F5F8F), to(#005086)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2F5F8F, #005086); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #2F5F8F, #005086); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #2F5F8F, #005086); /* IE10 */
  background-image:      -o-linear-gradient(top, #2F5F8F, #005086); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #2F5F8F, #005086);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2F5F8F', EndColorStr='#005086'); /* IE6â��IE9 */
}