# what to discover by default
$NMAPTARGETS$=www.google.fr www.bing.com
# If your scans are too slow, try to increase minrate (number of packet in parallel
# and reduce the number of retries.
$NMAPMINRATE$=1000
$NMAPMAXRETRIES$=3
