/** containers **/
h3 {line-height: 16px;}

#wrap {}

#wrap footer { border-top: 1px solid #b6bdbe; padding-bottom: 40px; margin: 15px 22px;  }

#wrap header .list-style-buttons { position: absolute; right: 0; }

/** list view **/
ul.list { list-style: none; width: 100%; margin-left: 0;}
ul.list li { display: block; background: #FFF; padding: 10px 15px; border-top: 1px solid #DDDDDD; }

ul.list li.alt { background: #FFF; }

ul.list li section.left { display: block; float: left; position: relative; }
ul.list li section.right { display: block; float: right; text-align: right; margin-top: 7px;}

ul.list li section.left img.thumb { float: left; margin-right: 10px; }
ul.list li section.left img.featured-banner { position: absolute; left: -18px; top: 35px; }

ul.list li section.left h3 { font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; text-transform: uppercase; color: #707375; font-size: 14px; line-height: 1.6em; margin-top: 0; margin-bottom: 0;} 
ul.list li section.left span.meta { color: #93989b; font-weight: normal; font-size: 1.1em; }


ul.list li section.right span.price { font-weight: bold; display: block; margin-bottom: 15px; color: #ad3939; font-size: 1.6em; text-align: right; }

ul.list li section.right a.firstbtn { margin-right: 7px; }

/** grid view **/
ul.grid { list-style: none; margin: 0 auto; padding-left: 25px; }
ul.grid li { position: relative; display: block; float: left; width: 220px; height: 200px; border-right: 1px solid #b6bdbe; padding: 5px 22px; margin-bottom: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
ul.grid li.third { border: 0; }

ul.grid li section.left { position: relative; }
ul.grid li section.right { /* nothing */ }

ul.grid li section.left img.featured-banner { position: absolute; top: 0; }

ul.grid li section.left h3 { font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; text-transform: uppercase; color: #707375; font-size: 1.4em; line-height: 1.5em; } 
ul.grid li section.left span.meta { display: block; color: #93989b; font-weight: normal; font-size: 1.1em; margin-bottom: 7px; }

ul.grid li section.right span.price { font-weight: bold; display: block; margin-bottom: 5px; color: #ad3939; font-size: 1.75em; }


ul.grid li section.right span.darkview { 
opacity: 0;
margin: 0; 
position: absolute;
top: 0; 
left: 0; 
width: 190px; 
height: 200px;
margin: 0 15px; 
border-radius: 6px;
background: rgba(40, 45, 55, 0.75); 
overflow: hidden;
text-align: center;
padding-top: 35px;
box-sizing: border-box; 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box;
transition: opacity 0.2s linear 0s;
-webkit-transition: opacity 0.2s linear 0s;
-moz-transition: opacity 0.25s linear 0s;
-o-transition: opacity 0.25s linear 0s;  
}
ul.grid li:hover section.right span.darkview { opacity: 1; }

ul.grid li section.right span.darkview a.firstbtn { display: block; margin-bottom: 10px; }