### Look for a VMWare Cluster
### Not supported yet

#define discoveryrule {
#       discoveryrule_name       ESX
#       creation_type            host
#       isesxhost		1
#       +use                     esx
#}
