
# Compare time between target and shinken
# Doc : http://nagios.frank4dd.com/plugins/manual/check_snmp_time.htm
# Plugin : http://nagios.frank4dd.com/plugins/source/check_snmp_time.pl
define command {
    command_name    check_snmp_time
    command_line    $NAGIOSPLUGINSDIR$/check_snmp_time.pl -H $HOSTADDRESS$ -C $SNMPCOMMUNITYREAD$ -f -w $ARG1$ -c $ARG2$
}
