## Check a DNS entry
## This plugin test the DNS service on the specified host using dig
# check_dig -l <query_address> [-H <host>] [-p <server port>] [-T <query type>]
# [-w <warning interval>] [-c <critical interval>] [-t <timeout>] [-a <expected
# answer address>] [-v]
define command {
    command_name    check_dig
    command_line    $NAGIOSPLUGINSDIR$/check_dig -H $HOSTADDRESS$ -l $ARG1$
}
