
## Notify Host by SMS (through an Android phone)
# You need both reactionner_tag and module_type in most cases!
define command {
    command_name        notify-host-by-android-sms
    command_line        android_sms $CONTACTPAGER$ Host: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $HOSTSTATE$\nInfo: $OUTPUT$\nDate: $DATETIME$
    reactionner_tag     android_sms
    module_type         android_sms
}
