## Module:      Cfg_password
## Loaded by:   WebUI
# Check authentification using password parameter in contact definition.
define module {
    module_name     Cfg_password
    module_type     cfg_password_webui
}
