## Module:      Service-Perfdata
## Loaded by:   Broker
# Export services perfdata to a flat file. For Centreon or PerfParse. This does
# not scale and should only be used for small installations.
define module {
    module_name     Service-Perfdata
    module_type     service_perfdata
    path            service-perfdata
    #mode            a   ; Optional. a = append, w = overwrite, p = pipe
    #template        $LASTSERVICECHECK$\t$HOSTNAME$\t$SERVICEDESC$\t$SERVICEOUTPUT$\t$SERVICEPERFDATA$\t$SERVICESTATE$\n
}
