## Module:      Simple-log
## Loaded by:   Broker
# Centralized log management for all Shinken processes. This module consumes
# log broks (inter process messages) and exports them to a flat-file local to
# where the active broker is running.
define module {
    module_name     Simple-log
    module_type     simple_log
    path            /var/log/shinken/shinken.log
    archive_path    /var/log/shinken/archives/
}
