## Module:      TSCA
## Loaded by:   Arbiter, Receiver
# Receive check results using TSCA, a thrift interface.
define module {
    module_name     TSCA
    module_type     tsca_server
    host            *
    port            9090
}
