## Module:      WS_Arbiter
## Loaded by:   Arbiter, Receiver
# WebService module for the Arbiter and Receiver so you can send (POST) passive
# checks to it :)
define module {
    module_name     WS_Arbiter
    module_type     ws_arbiter
    host            0.0.0.0
    port            7760
    username        anonymous   ; If you want auth, set username and password.
    #password        secret
}
