body {
	background: #222222;
}

#main_container {
	background: none;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

#top_container {
	height: 4em;
	/*background: #00CCFF; */
}

#top_container p {
	font-size: 2em;
	color: #787878;
	float: right;
}

#top_container a {
	color: #787878;
	text-decoration: none;
}

#tacical_overview {
	/*border: 2px solid #222;
    -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
    /* -moz-box-shadow: 0px 0px 4px #000; /* FF3.5 - 3.6 */
       /*   box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */

}

#tacical_overview table {
	width: 100%;
	border: none;
}

#tacical_overview tbody, #tacical_overview td,
#tacical_overview tr, #tacical_overview th {
	border: none;
	background: #222222;
	font-size: 1.2em;
}

#dash_container {
	height: 100%;
	/*background: #008000;*/
	color: #787878;
}

#dash_container h2 {
	color: #787878;
	font-size: 2em;
	margin-left: 1%;
}

#dash_container ul {

}

#dash_container li {
	display:inline;
	padding-top: 20px;
}

#dash_container li a {
    border: 1px solid #787878;
    color: #787878;
    display: block;
    float: left;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
	font-size: 1.2em;
}

/**/
.box_round_small {
  -webkit-border-radius: 8px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 8px; /* FF1-3.6 */
          border-radius: 8px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/*
 *
 */

.spezial_state_critical {
    background-color: #B40406;
    color: #FFFFFF !important;
    border: none !important;
  	-webkit-box-shadow: 0px 0px 4px #B40406; /* Saf3.0+, Chrome */
    -moz-box-shadow: 0px 0px 4px #B40406; /* FF3.5 - 3.6 */
         box-shadow: 0px 0px 4px #B40406;
}

.spezial_state_warning {
    background-color: #FFDD00;
    color: #787878 !important;
    border: none !important;
  	-webkit-box-shadow: 0px 0px 4px #FFDD00; /* Saf3.0+, Chrome */
    -moz-box-shadow: 0px 0px 4px #FFDD00; /* FF3.5 - 3.6 */
         box-shadow: 0px 0px 4px #FFDD00;
}

.spezial_state_warning a, .state_warning a:hover {
    background-color: #FFDD00;
    color: #787878;
}

.spezial_state_unreachable {
    background-color: #87B2D3;
    color: #FFFFFF !important;
    border: none !important;
  	-webkit-box-shadow: 0px 0px 4px #87B2D3; /* Saf3.0+, Chrome */
    -moz-box-shadow: 0px 0px 4px #87B2D3; /* FF3.5 - 3.6 */
         box-shadow: 0px 0px 4px #87B2D3;
}

.spezial_state_ok {
    background-color: #7AB317;
    color: #FFFFFF;
}

/* -------------------Simple spinner-------------------- */
#Sdash_container_outer {
	display:block;
	position:relative;
	width:700px;
	height:260px;
	margin:0px auto 0px;
	border:1px #CCCCCC solid;
}
#Sdash_container_inner {
	position:relative ;
	overflow:hidden ;
	width:700px ;
	height:260px ;
	margin:0px auto 0px;
}
#dash_container_items {
	display:block;
	position:relative;
}

#dash_container_items .info_item{
	display:block;
	position:relative;
	width:690px;
	height:260px;
	float:left;
	background:#E8E8E8;
	text-align:justify;
	padding:5px;
}

#dash_container_items .info_item a img{
	border:none;
}

#dash_container_items .info_item img {
	float:left;
	margin-right:15px;
}
#dash_container_items .info_item a.more{
	color:#333333;
	font-weight:bold;
}

#dash_container_items .info_item h1{
	background:none;
	color:#006699;
	text-align:right;
	margin:5px 0px 10px;
	font-size:18px;
}