/*
 *  Navigation
 */
 
#nav{
	/*margin: 0;
	padding: 0;*/
	background: #222222;
	height: 40px;
}

#nav ul{
	margin: 0;
	margin-left: 15px; 
	float: left;
	padding-left: 8px;
	background: #222222;
}

#nav ul li{
	display: inline;
}


#nav ul li a{
	float: left;
	color: #636363;
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 11px;
	text-decoration: none;
}

#nav ul li a:hover, #nav ul li a#selected {
	color: #FFFFFF;
	background: transparent url(images/pointer.gif) bottom center no-repeat;
}


#nav_left {
	border-top: 1px solid #E3E3E5;
}
#nav_left li{
	margin-left: 0;
	border-bottom: 1px solid #E3E3E5;
	height: 45px;
	text-align: center;
}

#nav_left ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#nav_left a{
	display: block;
	text-decoration: none;
	color: #787878;
	font-size: 13px;
	padding-top: 14px;
	
}

#nav_left li:hover{
	/*background-color: #F8FBBD;*/
	font-weight: bold;
}

