# DATABASES HOSTS
define host{
   name           postgresql
   use            generic-host
   register       0

   _POSTGRESQLUSER             $POSTGRESQLUSER$
   _POSTGRESQLPASSWORD         $POSTGRESQLPASSWORD$
   _POSTGRESQLPORT             $POSTGRESQLPORT$

   # Plugins paramaters
   _DBSIZE_WARN     10G
   _DBSIZE_CRIT     20G
   _BACKENDS_WARN   50% 
   _BACKENDS_CRIT   80%
   _HITRATIO_WARN   90%
   _HITRATIO_CRIT   80%
   _INDEXSIZE_WARN  1G
   _INDEXSIZE_CRIT  2G
   _TABLESIZE_WARN  2G
   _TABLESIZE_CRIT  5G
   _LOCKS_WARN      50
   _LOCKS_CRIT      100
   _QUERYTIME_WARN  1min
   _QUERYTIME_CRIT  5min
   _TXNTIME_WARN    1min
   _TXNTIME_CRIT    5min
}

