# The LINUX template.
define host{
   name				collectd
   use				generic-host
   check_command           	_echo
   check_interval		1
   register			0

   # Dummy values, must be more higer in the real life
   _USERS_WARN                   4
   _USERS_CRIT                   5



}
