
body.main {
    background-attachment: fixed;
/*    background-image: url("images/contentframe_background.jpg"); */
    background-image: url("images/backgrounds/to-purple-work-small.png");
    /*background-repeat: repeat;*/
    /*background-repeat: repeat-x;*/
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}



body.side {
    background-attachment: fixed;
    background-repeat: repeat;
    /*background-image: url("images/snapinframe_background.jpg");*/
    background-image: url("images/backgrounds/to-purple - work.png");
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 280px;
    height: 100%;
    overflow:hidden;
}
