<Directory THRUKDIR/root/>
	order allow,deny
	allow from all
	Options FollowSymLinks
	AllowOverride All
</Directory>

Alias /thruk/ THRUKDIR/root/thruk/

# authorization
	<Location "/thruk">
	AuthName "Monitoring Access"
	AuthType Basic
	AuthUserFile THRUKDIR/htpasswd.users
	Order Allow,Deny
	Allow from all
	require valid-user
</Location>

# fastcgi configuration
FastCGIExternalServer /tmp/thruk_fastcgi.fcgi -socket /tmp/thruk_fastcgi.socket -idle-timeout 120

# rewrite configuration
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/thruk(.*)$ /tmp/thruk_fastcgi.fcgi/thruk$1 [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]

