[Unit]
Description=Shinken Receiver
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/shinken-receiver -d -c /etc/shinken/receiverd.ini

[Install]
WantedBy=multi-user.target
