[Unit]
Description=Shinken Poller
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/shinken-poller -d -c /etc/shinken/daemons/pollerd.ini
KillMode=mixed
TimeoutStopSec=30
PIDFile=/var/run/shinken/pollerd.pid
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
