[Unit]
Description=Shinken Arbiter
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/shinken-arbiter -d -r -c /etc/shinken/shinken.cfg

[Install]
WantedBy=multi-user.target
