[Unit]
Description=Shinken Skonf
Requires=mongod.service
After=syslog.target mongod.service

[Service]
Type=forking
ExecStart=/usr/sbin/shinken-skonf -d -c /etc/shinken/skonf.cfg

[Install]
WantedBy=multi-user.target
