#overview_container {
	background: #FAFAFA;
	border: 1px solid #E3E3E5;
	margin-bottom: 20px;
}

#event_command {
	margin-bottom: 10px;
	float:right;
}

#event_box {

	margin-top: 15px;
	background: #FAFAFA;
	border: 1px solid #E3E3E5;

	-moz-border-radius-top: 6px; /* FF1-3.6 */
	-webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-top-left-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    border-top-right-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#event_command {
	float:right;
}

#event_container h3 {
	font-size: 12px;
	background: #B40406;
	color: #FFFFFF;
	padding-left: 25px;
	margin-bottom: 0px;

	-moz-border-radius-top: 6px; /* FF1-3.6 */
	-webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-top-left-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    border-top-right-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#event_container p {
	border-left: solid 12px #B40406;
	line-height: 30px;
	margin-bottom: 0px;
	padding-left: 10px;
}

#detail_container h2 {
	font-size: 15px;
}

#command_container {
	margin-top: 20px;
	margin-bottom: 20px;
}

#elt_summary {

	margin-bottom: 20px;
	padding: 15px;
	width: 96%;
}

#elt_summary table {
	width: 100%;
}
#elt_summary table, #elt_summary tr, #elt_summary th, #elt_summary td, #elt_summary tbody{
	background: none !important;
	border: none;
}

.column1 {
	width: 15%;
}

/*
*
*/
#demo {
    margin-top: 20px;
    }

ul.tabs {
    margin: 0;
    /*padding: 0 0 2px 0;*/
}

li.tab {
    display: inline;
    padding: 8px 1em 2px 1em;
    margin-left: 0px;
    list-style: none;
    /*background-color: #222;*/
    border: 1px #E3E3E5 solid;
   /* -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;*/
}

li.tab.active {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;
}

li.tab .remove {
    color: #900;
}

div.content {
    margin: 0 0 1em 0;
    padding: .4em;
    	background: #FAFAFA;
	border: 1px solid #E3E3E5;
}