# -----------------------------------------------------------------
#
#      Mysql calls. It use the check_mysql_health from
#      http://labs.consol.de/lang/en/nagios/check_mysql_health/
#
# -----------------------------------------------------------------


# Distant mysql check
define command {
       command_name	check_mysql_connection
       command_line	$PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode connection-time
}

define command {
       command_name     check_mysql_querycache_hitrate
       command_line	$PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode querycache-hitrate
}

define command {
       command_name     check_mysql_uptime
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode uptime
}

define command {
       command_name     check_mysql_threads_connected
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode threads-connected
}

define command {
       command_name     check_mysql_qcache_hitrate
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode qcache-hitrate
}

define command {
       command_name     check_mysql_qcache_lowmem_prunes
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode qcache-lowmem-prunes
}

define command {
       command_name     check_mysql_keycache_hitrate
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode keycache-hitrate
}

define command {
       command_name     check_mysql_bufferpool_hitrate
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode bufferpool-hitrate
}

define command {
       command_name     check_mysql_bufferpool_wait_free
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode bufferpool-wait-free
}

define command {
       command_name     check_mysql_log_waits
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode log-waits
}

define command {
       command_name     check_mysql_tablecache_hitrate
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode tablecache-hitrate
}

define command {
       command_name     check_mysql_table_lock_contention
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode table-lock-contention
}

define command {
       command_name     check_mysql_index_usage
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode index-usage
}

define command {
       command_name     check_mysql_tmp_disk_tables
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode tmp-disk-tables
}

define command {
       command_name     check_mysql_slow_queries
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode slow-queries
}

define command {
       command_name     check_mysql_long_running_procs
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode long-running-procs
}

define command {
       command_name     check_mysql_slave_lag
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode slave-lag
}

define command {
       command_name     check_mysql_slave_io_running
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode slave-io-running
}

define command {
       command_name     check_mysql_slave_sql_running
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode slave-sql-running
}

define command {
       command_name     check_mysql_open_files
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode open-files
}

define command {
       command_name     check_mysql_cluster_ndb_running
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode cluster-ndb-running
}

define command {
       command_name     check_mysql_threadcache_hitrate
       command_line     $PLUGINSDIR$/check_mysql_health --hostname $HOSTADDRESS$ --username $MYSQLUSER$ --password $MYSQLPASSWORD$ --mode threadcache-hitrate
}

