<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="pythonlauncher" value="C:\Python27\python.exe"/>  
    
    <add key="Arbiter_parameters" value="-c @@INSTALLDIR@@\etc\nagios-windows.cfg -c @@INSTALLDIR@@\etc\shinken-specific-windows.cfg"/>
    <add key="Arbiter_service" value="@@INSTALLDIR@@\bin\shinken-arbiter.py"/>
    <add key="Arbiter_SrvOutput" value="true"/>
    <add key="Arbiter_SrvOutputfolder" value="@@INSTALLDIR@@\svclogs"/>

    <add key="verboselevel" value="Error"/>
    <add key="Shinken_Arbiter" value="logconfig\shinken-arbiterlogconf.xml"/>
  </appSettings>
</configuration>
