.aroundpulse {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
 /*   margin-left: -35px;*/
    position: relative;
}
/*a#target #pulse {*/
.pulse{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    border: 2px solid red;/*#30a3ec;*/
    border-radius: 50px;
    box-shadow: 0 0 5px red;/*#a0eaff;*/
    /* Animate */
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-out;
    -o-animation-name: pulse;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-out;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* Same but in bigger mode */
.big-pulse {
    width: 64px;
    height: 64px;
}

/* The animation */
/* WebKit/Safari and Chrome */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.9;
    }

    80% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}
/* Gecko/Firefox */
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.5;
    }

    80% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        -moz-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}
/* Presto/Opera */
@-o-keyframes pulse {
    0% {
        -o-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.5;
    }

    80% {
        -o-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        -o-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}
/* Standard */
@keyframes pulse {
    0% {
        transform: scale(0.3);
        opacity: 0.5;
    }

    80% {
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}