## Module:      Collectd
## Loaded by:   Arbiter, Receiver
# Receive passive host and service results from a collectd daemon.
define module {
   module_name Collectd
   module_type collectd
# 
#  Specify exact host (optional)
#   host        0.0.0.0
#   port        25826
#   multicast   False
}

