body {
	background: #123;
	border-top: 5px solid #000;
	font-size: 11px;
	padding: 20px 0 40px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.linkred {
	text-decoration:underline;
	font-weight: bold;
}


h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
}

h2 {
	padding: 20px 0 0;
	text-align: center;
}

p {
	border: none;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

/*background: url(/static/images/960gs/12_col.gif) repeat-y;
.container_12 {
	
	margin-bottom: 20px;
}

background: url(/static/images/960gs/16_col.gif) repeat-y;
.container_16 {
	
}

background: url(/static/images/960gs/24_col.gif) repeat-y;
.container_24 {
}*/

.boxhead{
	border: none;
	background-color: white;
	padding:5px;
	text-align:center;
	-moz-border-radius: 10px 10px 0 0;
	border-radius:10px 10px 0 0;
	background-color: #aaa;
	margin-top:5px;	
}

.boxcontent{
	border: none;
	background-color: white;
	text-align:left;
	padding:5px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.boxwhite{
	border: none;
	background-color: white;
	padding:5px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	margin-bottom:10px;
	color:#444;
	margin-top:5px;	
	
}

.boxcontent a {
	background-color:#fff;
	color:#888;
}

.boxcontent a:hover{
	background-color:#fff;
	color:#f00;
}

#footer {
	padding-bottom:10px;
	padding-top:-10px;	
	vertical-align:top;
	height:20px;
}



#form{

}

#banner{
	height: 30px;
	vertical-align: middle;
}

.doc{
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	border:1px solid #aaa;

	padding:10px;
}

<!-- right form related -->
.rowform{
}

.rowform .leftcol {
	float: left;
	width: 80px;
}

.rowform .rightcol {
	float: left;
}

.rightcol .realm {
	width: 120px;
}

.rowform .rightcol input[type=text]{
	width: 350px;
}

.sel1, .sel2, .exchange{
	float:left;
}

.sel1 select, .sel2 select{
	height:200px;
	width:155px;
}

.exchange input{
	width:25px;
}

.exchange {
	width:30px;
	padding:0;
	padding-left:3px;
	padding-top:60px;
}

.selectdual{
	margin-top:2px;
	width:140px;
}

.right{
	margin-top:5px;
	padding-right:12px;
	float:right;
}

<!-- /right form related -->

<!-- left list related -->

<!-- /left list related -->

<!-- general form controls related -->
button{
	-moz-border-radius: 5px;
	border-radius:5px;
	border:1px solid #aaa;
} 
select{
	-moz-border-radius: 5px;
	border-radius:5px;
	border:1px solid #aaa;
} 
input{
	-moz-border-radius: 5px;
	border-radius:5px;
	border:1px solid #aaa;
}

input[type=checkbox]{
	border:none;
}

.selectexisting{
	width:260px;
	margin-left:4px;
}



.search input[type=text]{
	width:110px;
}
<!-- /general form controls related -->

.logo {
	height:10px;
}

<!-- horizontal navigation menu -->
#nav
{
	background-color:#fff;
	-moz-border-radius:5px;
	border-radius:5px;
}

#nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#nav ul li
{
	float:left;
}

#nav ul li a:link, #nav ul li a:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#888;
	background-color:#fff;
	text-align:center;
	height:20px;
	padding:5px;
	text-decoration:none;
	text-transform:none;
	font-size: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav ul li a:hover,#nav ul li a:active
{
	background-color:#888;
	color:#fff;
}
<!-- /horizontal navigation menu -->