/* ************************************

Dep tree list display, with icons

***************************************
*/


/*             Some small LI state, with icon   */
li.ok{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/tick.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.up{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/tick.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}


li.unknown{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/unknown.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.ack{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/ack.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.down{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/down.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.unreachable{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/unreachable.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.warning{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/warning.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}

li.critical{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
    list-style-type: none;
    background-image: url(/static/images/down.png);
    background-repeat: no-repeat;
    background-position: 0 0.16em;
    padding-left: 20px;
}
