# This comands need the NetWays check_emc_clariion.pl script at
# http://exchange.nagios.org/directory/Plugins/Hardware/Storage-Systems/SAN-and-NAS/EMC-Clarion/check_emc_clariion-2Epl/details
# or https://www.netways.org/projects/plugins/files


#  An EMC Clarriion got 2 SP: A and B. It's just a disk controler in fact
#   Remove  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ if you are a crazy guy you want to use navicli
#   and so let every one admin of your disk enclosures....
define command {
       command_name     check_emc_spa
       command_line	$PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$ -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t sp --sp A
}

define command {
       command_name     check_emc_spb
       command_line	$PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t sp --sp B
}

# Check disks states. Very important!
define command {
       command_name     check_emc_disks
       command_line     $PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t disk
}


# Caches are iportant, especially the write one!
define command {
       command_name     check_emc_cache
       command_line     $PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t cache
}


# check if there are some faults in the device
define command {
       command_name     check_emc_faults
       command_line     $PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t faults
}


# Check FC port states
define command {
       command_name     check_emc_ports
       command_line     $PLUGINSDIR$/check_emc_clariion.pl -H $HOSTADDRESS$  -u $NAVISECCLIUSER$ -p $NAVISECCLIPASSWORD$ -t portstate
}

