## Commands for switches supported by check_nwc_health
# Generic switch link activity
define command {
       command_name     check_switch_interface_status
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --mode interface-status
}


define command {
       command_name     check_switch_interface_usage
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --mode interface-usage
}


define command {
       command_name     check_switch_interface_errors
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --mode interface-errors
}

# Some commands are now only managed by cisco hosts, but soon Nortel as well
define command {
       command_name     check_switch_hardware_health
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --mode hardware-health
}


define command {
       command_name     check_switch_cpu
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --critical=$_HOSTSWITCH_CPU_LOAD_CRIT$ --warning=$_HOSTSWITCH_CPU_LOAD_WARN$ --mode cpu-load
}

define command {
       command_name     check_switch_memory
       command_line     $PLUGINSDIR$/check_nwc_health --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --critical=$_HOSTSWITCH_MEMORY_USAGE_CRIT$ --warning=$_HOSTSWITCH_MEMORY_USAGE_WARN$ --mode memory-usage
}


## Commands for checks by check_snmp
define command {
       command_name     check_switch_snmp_cpu
       command_line     $PLUGINSDIR$/check_snmp --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --warning $_HOSTSWITCH_CPU_LOAD_WARN$ --critical $_HOSTSWITCH_CPU_LOAD_CRIT$ --oid $_HOSTSWITCH_SNMP_OID_CPU$
}

define command {
       command_name     check_switch_snmp_memory
       command_line     $PLUGINSDIR$/check_snmp --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --warning $_HOSTSWITCH_MEMORY_USAGE_WARN$ --critical $_HOSTSWITCH_MEMORY_USAGE_CRIT$ --oid $_HOSTSWITCH_SNMP_OID_MEMORY$
}

define command {
       command_name     check_switch_snmp_temperature
       command_line     $PLUGINSDIR$/check_snmp --hostname $HOSTADDRESS$ --timeout $_HOSTSWITCH_TIMEOUT$ --community $_HOSTSNMPCOMMUNITY$ --warning $_HOSTSWITCH_TEMPERATURE_CRIT$ --critical $_HOSTSWITCH_TEMPERATURE_CRIT$ --oid $_HOSTSWITCH_SNMP_OID_TEMPERATURE$
}

